﻿@model RaoVat.Models.News

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>News</legend>

      
        <div class="editor-field">
            @Html.EditorFor(model => model.NewsColumnID)
            @Html.ValidationMessageFor(model => model.NewsColumnID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewsZone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewsZone)
            @Html.ValidationMessageFor(model => model.NewsZone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewsContent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewsContent)
            @Html.ValidationMessageFor(model => model.NewsContent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Image)
        </div>
        <div class="editor-field">  
             
            @Html.EditorFor(model => model.Image)
            @Html.ValidationMessageFor(model => model.Image)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PersonInfo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PersonInfo)
            @Html.ValidationMessageFor(model => model.PersonInfo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Policy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Policy)
            @Html.ValidationMessageFor(model => model.Policy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LocationMap)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LocationMap)
            @Html.ValidationMessageFor(model => model.LocationMap)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SecurityCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SecurityCode)
            @Html.ValidationMessageFor(model => model.SecurityCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewsTypeID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewsTypeID)
            @Html.ValidationMessageFor(model => model.NewsTypeID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
