﻿@model RaoVat.Models.News

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>News</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NewsColumnID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NewsColumnID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NewsZone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NewsZone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NewsContent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NewsContent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PersonInfo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PersonInfo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Policy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Policy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocationMap)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationMap)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SecurityCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SecurityCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NewsTypeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NewsTypeID)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
