﻿@model RaoVat.Models.News

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>News</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NewsColumnID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NewsColumnID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NewsZone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NewsZone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NewsContent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NewsContent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PersonInfo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PersonInfo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Policy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Policy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocationMap)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationMap)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SecurityCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SecurityCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NewsTypeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NewsTypeID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.NewsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
