﻿@{
    ViewBag.Title = "User Home";
}
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '418685131612369',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   </script>
   
	<div id="main-content">
				<div id="show-post-detail">
					<div class= "post-detail-header">
						<div class="category-header">
							Đồ điện tử
						</div>
						<div class="related-links">
							<a href="#"> << Trở về </a>
							<a href="#"> Kế tiếp >> </a>
						</div>
						
					</div>
					
					<div id="images-detail">
						<div class="product-full-image">
							<span class="helper"></span>
							<img id="product-image" src="/Content/images/product-detail-1.jpg"></img>
						
						</div>
						
						<div class="carousel-images">
							<img class="product-detail-1.jpg thumbnail active" src="/Content/images/product-detail-1.jpg" />
							<img class="product-detail-2.jpg thumbnail" src="/Content/images/product-detail-2.jpg" />
							<img class="product-detail-3.jpg thumbnail" src="/Content/images/product-detail-3.jpg" />
							<img class="product-detail-1.jpg thumbnail" src="/Content/images/product-detail-1.jpg" />
						</div>
						<script type="text/javascript">
							$(".thumbnail").click(function()
							{
								var class_array = $(this).attr("class").split(' ');
								var newsrc = class_array[0]; // Pull new src from the class tag (assuming it's the last one)
								$("#product-image").attr('src', '/Content/images/' + newsrc);
								$("img.active").removeClass("active");
								$(this).addClass('active');
								
							});
						</script>
					</div>
					<div id="post-detail-short">
						<h2>Pin Sạc Dự Phòng Yookrx 6600mAh</h2>
						<div class="social-like-share">
							<iframe src=http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=64&layout=button_count&action=like&show_faces=false&share=true&height=21></iframe>
						</div>
						<span>
							Pin Sạc Dự Phòng Yookrx 6600mAh - Dung Lượng Lớn, 
							Thích Hợp Với Nhiều Thiết Bị Thông Dụng – Giúp Bạn Thoải Mái Nghe Nhạc, 
							Xem Phim, Chơi Game Mà Không Sợ Hết Pin. Giá 429.000 VNĐ, Còn 289.000 VNĐ, 
							Giảm 33%. Chỉ Có Tại Hotdeal.vn!
						</span>
						
						<div class="short-detail-attribute">
							
							<div id="detail-price">
								<p> Giá: </p>
								<h2> 289.0000đ</h2>
							</div>
							<div id="hit-count">
								<i class="fa fa-check fa-4x"></i>
								<span> 
								<h2> 150 </h2>
								<p>đã xem</p>
								</span>
							</div>
						</div>
						
					</div>
					
					<div class="clear"></div>
					
					<div id="post-detail-full">
						<div class="text-content">
							<span>
									<strong style="font-size:12pt; line-height:45px;"> Thông tin chi tiết </strong>
									<p style="font-size:10pt; font-weight:bold; margin:0px; line-height:45px;">PIN SẠC DỰ PHÒNG YOOKRX 6600 MAH – NGUỒN NĂNG LƯỢNG DỒI DÀO CHO CÁC THIẾT BỊ ĐIỆN TỬ.</p>
									<strong>Thông tin sản phẩm:</strong>
									<p>	- Tên sản phẩm: Pin sạc dự phòng Yookrx 6600mAh.</p>
									<p>	- Màu sắc: Đen, trắng.</p>
									<p>	- Kích thước: 6x12x1cm</p>
									<p>	- Dung lượng: 6600 mAh</p>
									<p>	- Điều kiện bảo hành:</p>
									<p>	+ Đổi trả trong vòng 7 ngày, kể từ ngày KH nhận sản phẩm.</p>
									<p>	+ Bảo hành 06 tháng. KH nhận lại sản phẩm, sau 7 ngày gửi sản phẩm bảo hành tại Hotdeal.</p>
																		
							</span>
						</div>
						<div class="comments">
							<h2>Nhận xét & Thảo luận</h2>
							<div class="fb-comments" data-href="http://developers.facebook.com/docs/plugins/comments/" data-width="780" data-numposts="5" data-colorscheme="light"></div>
				
						</div>					
					</div>
					
				
				</div>		
				
		</div>	

			<div class="adswrapper">
				<div class="module">
					<div class="module-header">
						<p>Tin được đăng bởi</p>
					</div>
					<div class="module-detail-wrapper">
						<span class="caption-medium">Công Ty Cổ Phần SX-TM XNK Viễn Thông A</span>
						<div class="clear"></div>
						<img class="thumbnail-64" src="/Content/images/logo-owner.png"  ></img>
						<div class="slogan-owner">
							<p>Slogan vien thong A </p>
							<p>Slogan vien thong A </p>
							<p>Slogan vien thong A </p>
						</div>
						
						<div class="clear"></div>
						<div class="rating">

							<span> Đánh giá: </span>
							<div class="rating-stars">
								<img src="/Content/images/star.png"></img>
								<img src="/Content/images/star.png"></img>
								<img src="/Content/images/star.png"></img>
								<img src="/Content/images/star.png"></img>
							</div>
						
						</div>
						<div class="clear"></div>
						<div class="owner-contact">
							<span>Liên hệ</span>
							<a href="#">Ghé thăm</a>
							<div class="clear"></div>
						</div>
						
						<div class="owner-contact-detail">
							<i class="fa fa-home fa-lg"></i> <span> Địa chỉ: 328-330 Đường 3/2, P.12, Quận 10, TPHCM </span>
							<div class="clear"></div>
							<i class="fa fa-phone fa-lg"></i> <span> Tel: (84-8) 38633333 </span>
							<div class="clear"></div>
							<i class="fa fa-envelope fa-lg"></i><span> Email: contact@vienthonga.com </span>
							<div class="clear"></div>
						</div>
						
					</div>
				</div>
				<div class="ads">
					Quảng Cáo
				</div>
			</div>


			<div id="footer" style="margin-left:10px;">	
				"Copyright 2015"
			</div>
				
	