﻿@model IEnumerable<RaoVat.Models.News>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
     
        <th>
            @Html.DisplayNameFor(model => model.NewsZone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewsContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Policy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationMap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecurityCode)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.NewsTypeID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NewsColumnID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsZone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Policy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationMap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecurityCode)
        </td>
        <td>            
         @Html.DisplayFor(modelItem => item.NewsTypeID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NewsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NewsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NewsID })
        </td>
    </tr>
}

</table>
