﻿@model RaoVat.Models.UserProfile
@{
    ViewBag.Title = "Change User Profile";
}

<h2>Change User Profile</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Change User Profile</legend>

          @Html.HiddenFor(model => model.UserId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

          <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        
          <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

          <div class="editor-label">
            @Html.LabelFor(model => model.Ewallet)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ewallet)
            @Html.ValidationMessageFor(model => model.Ewallet)
        </div>

           <div class="editor-label">
            @Html.LabelFor(model => model.UserTypeID)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.UserTypeID)
            @Html.ValidationMessageFor(model => model.UserTypeID)
        </div>
        <input type="submit" value="Save" />
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
