﻿@{
    ViewBag.Title = "User Home";
}
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '418685131612369',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   </script>
   
	<div id="main-content">
				<div id="show-post-detail">
					<div class= "post-detail-header">
						<div class="category-header">
							Thông tin doanh nghiệp
						</div>
						<div class="related-links">
							<a href="#"> << Trở về </a>
						</div>
						
					</div>
					<div id="user-banner">
						<img src="/Content/images/user_banner.jpg"> </img>
						<span>Công ty Cổ Phần SX-TM XNK Viễn Thông A</span>
					</div>
					<div class="social-like-share">
					<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
					</div>
					
					<div class="clear"></div>
					
			<div class="modules-wrapper">
				<div class="module">
					<div class="module-header">
						<p>Thông tin chi tiết</p>
					</div>
					<div class="module-detail-wrapper">
					
						<div class="owner-contact-detail">
						
							<i class="fa fa-home fa-lg"></i> <span> <strong> Địa chỉ: </strong>328-330 Đường 3/2, P.12, Quận 10, TPHCM </span>
							<div class="clear"></div>
							
							<i class="fa fa-phone fa-lg"></i> <span> <strong> Tel: </strong>(84-8) 38633333 </span>
							<div class="clear"></div>
							
							<i class="fa fa-fax fa-lg"></i> <span> <strong> Fax: </strong>(84-8) 38633333 </span>
							<div class="clear"></div>
							
							<i class="fa fa-globe fa-lg"></i> <span> <strong> Website: </strong> www.vienthonga.vn </span>
							<div class="clear"></div>
														
							
							<i class="fa fa-envelope fa-lg"></i><span> <strong> Email: </strong> contact@vienthonga.com </span>
							<div class="clear"></div>
						</div>

							<div class="review-rating">
							 <span>Review:</span>
								<div class="progress">
										<span class="percent">30%</span>
								<div class="bar" style="width:30%;"></div>
								</div>
							</div>
							
							<div class="clear"></div>
							
							<div class="review-rating">
							 <span>Rating:</span>
								<div class="progress">
										<span class="percent">60%</span>
								<div class="bar" style="width:60%;"></div>
								</div>
							</div>

						
						
					</div>
				</div>
				
				<div class="module">
					<div class="module-header">
						<p>Hỗ trợ</p>
					</div>
					<div class="support-contact">
						<span>Hotline: 1900 54 54 46</span>
						<span>Chat Online:</span>
						<span class="yahoo-contact">
							<a href = "ymsgr:sendim?yahoo_id">
									<img border=0 src="http://opi.yahoo.com/online?u=yahoo_id&m=g&t=2"></img>
							</a>
						</span>
						<span class="skype-contact">
							<a href="skype:a_little_demon?chat">
								<img border=0 src="http://mystatus.skype.com/a_little_demon"></img>
							</a>
						</span>
						
					</div>
				</div>


				<div class="module">
					<div class="module-header">
						<p>Thống kê</p>
					</div>
					<div class="support-contact">
						<span>Lượng truy cập: 1000</span>
						<span>Tin post: 40</span>
						<p></p>
					</div>
				</div>				

			
			</div>		<!-- end of modules-wrapper-->	
					
		<div class="small-posts">
			
			<div class="show-posts">
					<div class= "show-posts-header">
						<div class="category-header">
							Các tin đã đăng
						</div>						
					</div>		
					
@{
    string post_header = @"Cần thuê chung cư TDH Trường Thọ Thủ Đức giá rẻ";
    string post_image = @"\Content\images\photo.jpg";
    string post_content = @"Tôi cần mua 1 trong 2 căn hộ số 4 hoặc số 5 của tòa A2 chung cư Thăng Long 
                        Garden - 250 Minh Khai và 1 căn 3PN cũng cùng chung cư 250 Minh Khai..";
    string[] post_type = { "vip", "normal", "normal", "normal","normal" }; @*5 posts*@    
    string[] post_description_header = { "Giá", "Quận/Huyện" }; @* thuc su day la mang 2 chieu, moi post co descriptions rieng*@
    string[] post_description_value = { "Thỏa thuận", "Thủ Đức"}; 
 @*demo get value from post*@    
    for (var i = 0 ; i<post_type.Length;i++)
    {
        @: <div class="post-item ">
        if (post_type[i] =="vip")
        {
        @:     <div class="post-content-wrapper vip">
        }
        else
        {
         @:    <div class="post-content-wrapper">
        }
        <text>
             <div class="post-header">
                @post_header
             </div>
            <div class="clear"></div>
		    <img src="@post_image" class="post-image">
            <div class="post-description-wrapper">
                <div class="post-content">
                    @post_content
                </div>	
            <div class = "clear"></div>
        </text>
        for(var k = 0; k < @post_description_header.Length;k++)
        {
            var temp_descrition_header = post_description_header[k];
             var temp_descrition_value = post_description_value[k];
        <text>
            <div class="description-i">
				<span class="description-i-caption">@temp_descrition_header</span>
				<span class="description-i-value">@temp_descrition_value</span>
		    </div>
        </text>
        }

@*publish date of each post, for simple we are using now.datetime*@
	<span class="published-date">
		  @DateTime.Today;
	</span>

	@:</div>
	@:</div>	
	@:</div>

    }
}
    
	      </div>		
        </div>
    </div>
</div> <!-- end of  maincontent -->
                             
        <div class="adswrapper">
			<div class="ads">
					Quảng Cáo
			</div>
		</div>


			<div id="footer" style="margin-left:10px;">	
				"Copyright 2015"
			</div>
				
	