﻿@{
    ViewBag.Title = "Chính Sách";
}
<link rel="stylesheet" type="text/css" href="~/Content/termStyle.css">

<h2>Chính Sách</h2>

<div class=WordSection1>

<p class=MsoTocHeading><span lang=EN-US>N&#7897;i dung</span></p>

<p class=MsoToc1><span class=MsoHyperlink><a href="#_Toc407646407">Quy ch&#7871;
ho&#7841;t đ&#7897;ng<span style='color:windowtext;display:none;text-decoration:
none'>. </span><span
style='color:windowtext;display:none;text-decoration:none'>1</span></a></span></p>

<p class=MsoToc2><span class=MsoHyperlink><a href="#_Toc407646408">I. Nguyên t&#7855;c
ho&#7841;t đ&#7897;ng<span style='color:windowtext;display:none;text-decoration:
none'>. </span><span
style='color:windowtext;display:none;text-decoration:none'>1</span></a></span></p>

<p class=MsoToc3><span class=MsoHyperlink><a href="#_Toc407646409">I.1: Tuyên
ngôn ph&#7909;c v&#7909;<span style='color:windowtext;display:none;text-decoration:
none'>. </span><span
style='color:windowtext;display:none;text-decoration:none'>1</span></a></span></p>

<p class=MsoToc3><span class=MsoHyperlink><a href="#_Toc407646410">I.2: Nguyên
t&#7855;c ho&#7841;t đ&#7897;ng<span style='color:windowtext;display:none;
text-decoration:none'>. </span><span
style='color:windowtext;display:none;text-decoration:none'>1</span></a></span></p>

<p class=MsoToc2><span class=MsoHyperlink><a href="#_Toc407646411">II. Quy ch&#7871;
ho&#7841;t đ&#7897;ng<span style='color:windowtext;display:none;text-decoration:
none'>. </span><span
style='color:windowtext;display:none;text-decoration:none'>2</span></a></span></p>

<p class=MsoToc3><span class=MsoHyperlink><a href="#_Toc407646412">II.1: Các
thu&#7853;t ng&#7919;.<span style='color:windowtext;display:none;text-decoration:
none'> </span><span
style='color:windowtext;display:none;text-decoration:none'>2</span></a></span></p>

<p class=MsoToc3><span class=MsoHyperlink><a href="#_Toc407646413">II.2: Quy
tr&igrave;nh giao d&#7883;ch t&#7841;i Ch&#7907; Đi&#7879;n T&#7917;<span
style='color:windowtext;display:none;text-decoration:none'>.. </span><span
style='color:windowtext;display:none;text-decoration:none'>3</span></a></span></p>

<p class=MsoToc3><span class=MsoHyperlink><a href="#_Toc407646414">II.3:  Quy đ&#7883;nh
v&#7873; b&#7843;o đ&#7843;m giao d&#7883;ch, thanh toán, v&#7853;n chuy&#7875;n<span
style='color:windowtext;display:none;text-decoration:none'>. </span><span
style='color:windowtext;display:none;text-decoration:none'>6</span></a></span></p>

<p class=MsoToc3><span class=MsoHyperlink><a href="#_Toc407646415">II.4: Quy đ&#7883;nh
b&#7843;o v&#7879; thành viên<span style='color:windowtext;display:none;
text-decoration:none'>. </span><span
style='color:windowtext;display:none;text-decoration:none'>6</span></a></span></p>

<p class=MsoToc2><span class=MsoHyperlink><a href="#_Toc407646416">III, Quy&#7873;n
và trách nhi&#7879;m c&#7911;a các bên tham gia sàn TMDT<span style='color:
windowtext;display:none;text-decoration:none'>. </span><span
style='color:windowtext;display:none;text-decoration:none'>7</span></a></span></p>

<p class=MsoToc3><span class=MsoHyperlink><a href="#_Toc407646417">III.1 Trách
nhi&#7879;m và Quy&#7873;n c&#7911;a thành viên  tham gia Nhanh60s.vn<span
style='color:windowtext;display:none;text-decoration:none'>. </span><span
style='color:windowtext;display:none;text-decoration:none'>7</span></a></span></p>

<p class=MsoToc3><span class=MsoHyperlink><a href="#_Toc407646418">III.2 Quy&#7873;n
và ngh&#297;a v&#7909; c&#7911;a Sàn TMĐT nhanh60s.vn<span style='color:windowtext;
display:none;text-decoration:none'>. </span><span
style='color:windowtext;display:none;text-decoration:none'>9</span></a></span></p>

<p class=MsoToc3><span class=MsoHyperlink><a href="#_Toc407646419">III.3 Cơ ch&#7871;
gi&#7843;i quy&#7871;t khi&#7871;u n&#7841;i:<span style='color:windowtext;
display:none;text-decoration:none'> </span><span
style='color:windowtext;display:none;text-decoration:none'>12</span></a></span></p>

<p class=MsoToc2><span class=MsoHyperlink><a href="#_Toc407646420">IV Đi&#7873;u
kho&#7843;n áp d&#7909;ng<span style='color:windowtext;display:none;text-decoration:
none'>. </span><span
style='color:windowtext;display:none;text-decoration:none'>12</span></a></span></p>

<p class=MsoNormal>&nbsp;</p>

<h1><span lang=EN-US>&nbsp;</span></h1>

<h1><span lang=EN-US>&nbsp;</span></h1>

<h1><span lang=EN-US>&nbsp;</span></h1>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

<h1><a name="_Toc407646407">Quy ch&#7871; ho&#7841;t đ&#7897;ng</a></h1>

<p class=MsoNormal>&nbsp;</p>

<h2><a name="_Toc407646408">I. Nguyên t&#7855;c ho&#7841;t đ&#7897;ng</a></h2>

<p class=MsoNormal>&nbsp;</p>

<h3><a name="_Toc407646409">I.1: Tuyên ngôn ph&#7909;c v&#7909;</a></h3>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Sàn TMĐT nhanh60s.vn: Là m&#7897;t s&#7843;n ph&#7849;m v&#7873;
Thương m&#7841;i đi&#7879;n t&#7917; c&#7911;a công ty C&#7893; ph&#7847;n Công
ngh&#7879; Nhanh60s có tên mi&#7873;n http://nhanh60s.vn. Đư&#7907;c thành l&#7853;p
v&#7899;i m&#7909;c đích là nơi  đ&#7875; các cá nhân, t&#7893; ch&#7913;c,
doanh nghi&#7879;p có th&#7875; gi&#7899;i thi&#7879;u thông tin và ti&#7871;n
hành các ho&#7841;t đông mua bán m&#7897;t cách ti&#7879;n l&#7907;i, nhanh
chóng và an toàn. Chúng tôi luôn hư&#7899;ng đ&#7871;n là 1 sàn TMĐT hàng đ&#7847;u
v&#7899;i ch&#7845;t lư&#7907;ng ph&#7909;c v&#7909; t&#7889;t nh&#7845;t, b&#7843;o
đ&#7843;m môi trư&#7901;ng giao d&#7883;ch an toàn và lành m&#7841;nh và là c&#7847;u
n&#7889;i tin c&#7853;y cho doanh nghi&#7879;p và khách hàng.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Đ&#7875; ph&#7909;c v&#7909; t&#7889;t nh&#7845;t cho khách
hàng, chúng tôi luôn hư&#7899;ng đ&#7871;n cung c&#7845;p các s&#7843;n ph&#7849;m
gi&#7843;i pháp m&#7899;i nh&#7845;t, t&#7889;t nh&#7845;t và ti&#7879;n l&#7907;i
nh&#7845;t cho khách hàng trong mua bán tr&#7921;c tuy&#7871;n g&#7891;m có:
Nơi đăng bán và gi&#7899;i thi&#7879;u hàng hoá – Website Nhanh60s.vn. Công c&#7909;
qu&#7843;ng cáo hi&#7879;u qu&#7843;: H&#7879; th&#7889;ng VAS, công c&#7909;
qu&#7843;ng cáo popnet và m&#7841;ng qu&#7843;ng cáo tr&#7921;c tuy&#7871;n
adnet. Công c&#7909; thanh toán an toàn v&#7843; b&#7843;o đ&#7843;m: NgânLư&#7907;ng.vn.
H&#7879; th&#7889;ng v&#7853;n chuy&#7875;n hàng hoá giá r&#7867; nhanh chóng
và an toàn: Shipchung.vn. Quy tr&igrave;nh mua bán khép kín an toàn ti&#7879;n
l&#7907;i. Các công c&#7909; đánh giá ch&#7913;ng nh&#7853;n b&#7843;o đ&#7843;m
cho khách hàng trong mua bán tr&#7921;c tuy&#7871;n c&#361;ng như nhi&#7873;u d&#7883;ch
v&#7909; khác</p>

<p class=MsoNormal>&nbsp;</p>

<h3><a name="_Toc407646410">I.2: Nguyên t&#7855;c ho&#7841;t đ&#7897;ng</a></h3>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Sàn thương m&#7841;i đi&#7879;n t&#7917; Nhanh60s.vn đư&#7907;c
xây d&#7921;ng và v&#7853;n hành b&#7903;i Công ty c&#7893; ph&#7847;n
Nhanh60s. Đư&#7907;c c&#7845;p phép ho&#7841;t đ&#7897;ng theo Gi&#7845;y phép
s&#7889; 69/GP-BC (B&#7897; VHTT) và 321/GP-BBCVT (B&#7897; BCVT).</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Các thành viên đ&atilde; ch&#7845;p nh&#7853;n các đi&#7873;u
kho&#7843;n và đăng k&yacute; và ho&#7841;t đ&#7897;ng h&#7907;p pháp t&#7841;i
sàn thương m&#7841;i đi&#7879;n t&#7917; Nhanh60s.vn đư&#7907;c b&#7843;o v&#7879;
theo các quy đ&#7883;nh c&#7911;a sàn thương m&#7841;i đi&#7879;n t&#7917;
Nhanh60s.vn và pháp lu&#7853;t b&#7843;o h&#7897; theo quy đ&#7883;nh.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Đ&#7875; b&#7843;o đ&#7843;m cho quy&#7873;n l&#7907;i chung
cho các thành viên khi tham gia, Nhanh60s.vn quy đ&#7883;nh các nguyên t&#7855;c
ho&#7841;t đ&#7897;ng sau:</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>-       Thư&#7907;ng tôn pháp lu&#7853;t: Các thành viên khi
tham gia sàn thương m&#7841;i đi&#7879;n t&#7917; Nhanh60s.vn ph&#7843;i ho&#7841;t
đ&#7897;ng theo đúng các quy đ&#7883;nh c&#7911;a pháp lu&#7853;t v&#7873; các
ho&#7841;t đ&#7897;ng giao d&#7883;ch, mua bán, qu&#7843;ng cáo hàng hoá….</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>-       Tôn tr&#7885;ng c&#7897;ng đ&#7891;ng: Các thành
viên tham gia c&#7897;ng đ&#7891;ng mua bán t&#7841;i Nhanh60s.vn ph&#7843;i
công khai minh b&#7841;ch, tôn tr&#7885;ng và b&#7843;o đ&#7843;m quy&#7873;n l&#7907;i
cho đ&#7889;i tác c&#361;ng như các thành viên khác. Ph&#7843;i &#7913;ng x&#7917;
văn minh, l&#7883;ch s&#7921; trong quá tr&igrave;nh giao ti&#7871;p v&#7899;i
nhau trong không gian m&#7841;ng l&#7851;n th&#7921;c t&#7871;. B&#7843;o đ&#7843;m
tôn tr&#7885;ng l&#7851;n nhau theo truy&#7873;n th&#7889;ng và văn hoá &#7913;ng
x&#7917;. Trong trư&#7901;ng h&#7907;p trái ngư&#7907;c v&#7899;i các tiêu chí
trên s&#7869; b&#7883; lo&#7841;i b&#7887; ra kh&#7887;i c&#7897;ng đ&#7891;ng.</p>

<p class=MsoNormal>&nbsp;</p>

<h2><a name="_Toc407646411">II. Quy ch&#7871; ho&#7841;t đ&#7897;ng</a></h2>

<p class=MsoNormal>&nbsp;</p>

<h3><a name="_Toc407646412">II.1: Các thu&#7853;t ng&#7919;.</a></h3>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Sàn TMĐT nhanh60s.vn: Là m&#7897;t s&#7843;n ph&#7849;m v&#7873;
Thương m&#7841;i đi&#7879;n t&#7917; c&#7911;a công ty C&#7893; ph&#7847;n Công
ngh&#7879; Nhanh60s có tên mi&#7873;n http://nhanh60s.vn. Sàn TMĐT nhanh60s.vn
là đơn v&#7883; trung gian k&#7871;t n&#7889;i ngư&#7901;i mua và ngư&#7901;i
bán thông qua h&#7879; th&#7889;ng internet, ho&#7841;t đ&#7897;ng theo các quy
đ&#7883;nh c&#7911;a pháp lu&#7853;t Vi&#7879;t Nam.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Thành viên sàn TMĐT nhanh60s.vn: là các cá nhân, t&#7893; ch&#7913;c,
doanh nghi&#7879;p ho&#7841;t đ&#7897;ng h&#7907;p pháp, ch&#7845;p nh&#7853;n
đăng k&yacute; thành viên t&#7841;i Sàn TMĐT nhanh60s.vn</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Ngư&#7901;i mua trên sàn TMĐT nhanh60s.vn: là cá nhân, t&#7893;
ch&#7913;c, doanh nghi&#7879;p ho&#7841;t đ&#7897;ng giao d&#7883;ch mua s&#7843;n
ph&#7849;m đư&#7907;c đăng bán trên sàn TMĐT nhanh60s.vn</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Ngư&#7901;i bán trên sàn TMĐT nhanh60s.vn là các cá nhân, t&#7893;
ch&#7913;c, doanh nghi&#7879;p đăng k&yacute; thành viên trên Sàn TMĐT nhanh60s.vn
và có ho&#7841;t đ&#7897;ng đăng bán s&#7843;n ph&#7849;m hàng hóa d&#7883;ch v&#7909;
lên Sàn TMĐT nhanh60s.vn.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Ví đi&#7879;n t&#7917; Ngaluong.vn: là h&#7879; th&#7889;ng
thanh toán tr&#7921;c tuy&#7871;n (vi&#7871;t t&#7855;t là TTTT) theo mô
h&igrave;nh ví đi&#7879;n t&#7917; do công ty c&#7893; ph&#7847;n gi&#7843;i
pháp ph&#7847;n m&#7873;m Hoà B&igrave;nh cung &#7913;ng t&#7841;i đ&#7883;a ch&#7881;
www.NganLuong.vn.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>C&#7893;ng giao nh&#7853;n tr&#7921;c tuy&#7871;n
ShipChung.vn (vi&#7871;t t&#7855;t là SC): là h&#7879; th&#7889;ng c&#7893;ng
thông tin giao nh&#7853;n v&#7853;n chuy&#7875;n hàng hóa và giao hàng thu ti&#7873;n
do công ty c&#7893; ph&#7847;n gi&#7843;i pháp ph&#7847;n m&#7873;m Hoà
B&igrave;nh  cung &#7913;ng t&#7841;i đ&#7883;a ch&#7881; www.ShipChung.vn</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>H&atilde;ng v&#7853;n chuy&#7875;n (vi&#7871;t t&#7855;t là
HVC): là doanh nghi&#7879;p (và/ho&#7863;c nhân viên giao nh&#7853;n c&#7911;a
HVC) ho&#7841;t đ&#7897;ng h&#7907;p pháp trong l&#297;nh v&#7921;c bưu chính –
chuy&#7875;n phát hàng hoá n&#7897;i đ&#7883;a Vi&#7879;t Nam, h&#7907;p tác v&#7899;i
c&#7893;ng giao nh&#7853;n hàng hóa shipchung.vn đ&#7875; tr&#7921;c ti&#7871;p
th&#7921;c hi&#7879;n vi&#7879;c v&#7853;n chuy&#7875;n hàng hoá và giao hàng
thu ti&#7873;n.</p>

<p class=MsoNormal>&nbsp;</p>

<h3><a name="_Toc407646413">II.2: Quy tr&igrave;nh giao d&#7883;ch t&#7841;i Ch&#7907;
Đi&#7879;n T&#7917;</a></h3>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Khi có nhu c&#7847;u mua hàng hoá t&#7841;i sàn giao d&#7883;ch
TMDT Nhanh60s.vn ngư&#7901;i mua có th&#7875; th&#7921;c hi&#7879;n các bư&#7899;c
sau:</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>1: T&igrave;m ki&#7871;m hàng hoá: Ngư&#7901;i mua có th&#7875;
t&igrave;m ki&#7871;m hàng hoá b&#7857;ng công c&#7909; seach c&#7911;a chúng
tôi ho&#7863;c b&#7857;ng cách click vào xem các danh m&#7909;c đ&#7875; có th&#7875;
t&igrave;m đư&#7907;c các s&#7843;n ph&#7849;m do các ngư&#7901;i bán đăng bán
t&#7841;i Nhanh60s.vn có th&#7875; phù h&#7907;p v&#7899;i nhu c&#7847;u c&#7911;a
m&igrave;nh.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>2: L&#7921;a ch&#7885;n s&#7843;n ph&#7849;m: V&#7899;i các
s&#7843;n ph&#7849;m t&igrave;m đư&#7907;c, ngư&#7901;i mua có th&#7875; l&#7921;a
ch&#7885;n ra s&#7843;n ph&#7849;m phù h&#7907;p v&#7899;i nhu c&#7847;u c&#7911;a
m&igrave;nh t&#7915; ngư&#7901;i bán uy tín nh&#7901; các công c&#7909; c&#7911;a
Ch&#7907;Đi&#7879;nT&#7917; cung c&#7845;p như: B&#7897; l&#7885;c s&#7843;n ph&#7849;m,
ngư&#7901;i bán theo thu&#7897;c tính, danh m&#7909;c, giá c&#7843;, đ&#7883;a
đi&#7875;m, m&#7913;c đ&#7897; uy tín….</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>3: Ti&#7871;n hành giao d&#7883;ch mua bán: Sau khi
t&igrave;m đư&#7907;c s&#7843;n ph&#7849;m và ngư&#7901;i bán phù h&#7907;p.
Ngư&#7901;i mua l&#7921;a ch&#7885;n s&#7889; s&#7843;n ph&#7849;m mu&#7889;n
mua, ti&#7871;n hành đ&#7863;t mua hàng và giao d&#7883;ch v&#7899;i ngư&#7901;i
bán.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>T&#7841;i sàn giao d&#7883;ch TMDT Nhanh60s.vn ngư&#7901;i
mua và ngư&#7901;i bán có th&#7875; ti&#7871;n hành mua bán hàng hoá theo 1
trong 3 quy tr&igrave;nh sau đây:</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>+ Giao d&#7883;ch an toàn: Giao hàng trư&#7899;c – thu ti&#7873;n
sau (COD)</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>+ Giao d&#7883;ch b&#7843;o đ&#7843;m qua Ngân Lư&#7907;ng.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>+ Giao d&#7883;ch tr&#7921;c ti&#7871;p.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>C&#7909; th&#7875; các quy tr&igrave;nh như sau:</p>

<p class=MsoNormal>&nbsp;</p>

<h4>II.2.1: Quy tr&igrave;nh giao d&#7883;ch an toàn giao hàng trư&#7899;c  thu
ti&#7873;n sau (COD)</h4>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Bư&#7899;c 1: Ngư&#7901;i mua đ&#7863;t mua hàng c&#7911;a
ngư&#7901;i bán trên Sàn nhanh60s.vn</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Bư&#7899;c 2: Ngư&#7901;i mua ch&#7885;n h&igrave;nh th&#7913;c
thanh toán giao hàng trư&#7899;c thu ti&#7873;n sau (COD).</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Bư&#7899;c 3: Ngư&#7901;i bán nh&#7853;n thông tin đơn
hàng,  đóng gói hàng hoá và chu&#7849;n b&#7883; đ&#7875; h&atilde;ng v&#7853;n
chuy&#7875;n đ&#7871;n l&#7845;y.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Bư&#7899;c 4: Ngư&#7901;i bán duy&#7879;t v&#7853;n đơn, h&#7879;
th&#7889;ng t&#7921; đ&#7897;ng chuy&#7875;n v&#7853;n đơn sang c&#7893;ng giao
nh&#7853;n hàng hóa shipchung.vn</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Bư&#7899;c 5: H&atilde;ng v&#7853;n chuy&#7875;n c&#7911;a
Shipchung.vn đ&#7871;n l&#7845;y hàng  và ti&#7871;n hành v&#7853;n chuy&#7875;n
hàng cho Ngư&#7901;i mua</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Bư&#7899;c 6: Ngư&#7901;i mua nh&#7853;n hàng, ki&#7875;m
tra</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Bư&#7899;c 7: Ngư&#7901;i mua thanh toán ti&#7873;n cho Bưu
tá giao hàng và k&yacute; xác nh&#7853;n</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Bư&#7899;c 8: H&#7879; th&#7889;ng shipchung t&#7921; đ&#7897;ng
câp nh&#7853;t giao hàng thành công. Shipchung chuy&#7875;n ti&#7873;n thu h&#7897;
cho ngư&#7901;i bán theo đúng l&#7883;ch tr&igrave;nh c&#7911;a h&#7879; th&#7889;ng
Shipchung.vn</p>

<p class=MsoNormal>&nbsp;</p>

<h4>II.2.2 Quy tr&igrave;nh giao d&#7883;ch an toàn qua Ví đi&#7879;n t&#7917;
Nganluong.vn</h4>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Bư&#7899;c 1: Ngư&#7901;i mua đ&#7863;t mua hàng c&#7911;a
ngư&#7901;i bán trên Sàn Nhanh60s.vn</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Bư&#7899;c 2: Ngư&#7901;i mua ch&#7885;n h&igrave;nh th&#7913;c
thanh toán tr&#7921;c tuy&#7871;n cho Ngư&#7901;i bán thông qua Ví đi&#7879;n t&#7917;
Nganluong.vn và th&#7921;c hi&#7879;n thanh toán (S&#7889; ti&#7873;n Ngư&#7901;i
mua thanh toán s&#7869; &#7903; tr&#7841;ng thái t&#7841;m gi&#7919; t&#7889;i
đa trong v&ograve;ng 7 ngày k&#7875; t&#7915; ngày ngư&#7901;i mua thanh toán)</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Bư&#7899;c 3: Ngư&#7901;i bán nh&#7853;n thông tin và ti&#7871;n
hành chuy&#7875;n hàng cho ngư&#7901;i mua.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Bư&#7899;c 4: Ngư&#7901;i mua nhân và ki&#7875;m tra hàng</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Bư&#7899;c 5: Ngư&#7901;i mua lên trang qu&#7843;n tr&#7883;
cá nhân trên Sàn Nhanh60s.vn, vào m&atilde; đơn hàng xác nh&#7853;n là
đ&atilde; nh&#7853;n hàng thành công. Trong v&ograve;ng 3 ngày k&#7875; t&#7915;
ngày nh&#7853;n hàng thành công n&#7871;u ngư&#7901;i mua ko xác nh&#7853;n h&#7879;
th&#7889;ng Nhanh60s.vn s&#7869; m&#7863;c đ&#7883;nh đơn hàng đư&#7907;c giao
thành công</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Bư&#7899;c 6: Tùy theo đi&#7873;u ki&#7879;n nào đ&#7871;n
trư&#7899;c: Ngư&#7901;i mua xác nh&#7853;n nh&#7853;n hàng  thành công, hay
sau 7 ngày k&#7875; t&#7915; ngày ngư&#7901;i mua thanh toán. T&#7893;ng s&#7889;
ti&#7873;n t&#7841;m gi&#7919; trên h&#7879; th&#7889;ng ngân lư&#7907;ng s&#7869;
đư&#7907;c t&#7921; đ&#7897;ng phê chu&#7849;n vào Tài kho&#7843;n ngư&#7901;i
bán trên ngân lư&#7907;ng.</p>

<p class=MsoNormal>&nbsp;</p>

<h4>II.2.3 Quy tr&igrave;nh giao d&#7883;ch tr&#7921;c ti&#7871;p</h4>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Quy tr&igrave;nh giao d&#7883;ch này chưa đ&#7921;ng r&#7845;t
nhi&#7873;u r&#7911;i ro và Sàn TMĐT nhanh60s.vn khuy&#7871;n cáo ngư&#7901;i
mua không nên giao d&#7883;ch tr&#7921;c ti&#7871;p v&#7899;i ngư&#7901;i bán.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Bư&#7899;c 1: Ngư&#7901;i mua vào sàn Nhanh60s.vn đ&#7863;t
mua hàng hoá c&#7911;a ngư&#7901;i bán.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Bư&#7899;c 2: Ngư&#7901;i mua và ngư&#7901;i bán liên l&#7841;c
v&#7899;i nhau.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Bư&#7899;c 3: Ngư&#7901;i mua chuy&#7875;n ti&#7873;n cho
ngư&#7901;i bán.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Bư&#7899;c 4: Ngư&#7901;i bán chuy&#7875;n hàng hóa cho ngư&#7901;i
mua.</p>

<p class=MsoNormal>&nbsp;</p>

<h3><a name="_Toc407646414">II.3:  Quy đ&#7883;nh v&#7873; b&#7843;o đ&#7843;m
giao d&#7883;ch, thanh toán, v&#7853;n chuy&#7875;n</a></h3>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Sàn TMĐT nhanh60s.vn luôn đ&#7843;m b&#7843;o an toàn giao d&#7883;ch
cho ngư&#7901;i mua thông qua các tiêu chí sau:</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Sàn TMĐT nhanh60s.vn ki&#7875;m duy&#7879;t Ngư&#7901;i bán
trư&#7899;c khi đăng bán s&#7843;n ph&#7849;m thông qua h&igrave;nh th&#7913;c
xác th&#7921;c s&#7889; đi&#7879;n tho&#7841;i và email. Ngoài ra Khi đăng s&#7843;n
ph&#7849;m lên sàn TMĐT nhanh60s.vn ngư&#7901;i bán ph&#7843;i cung c&#7845;p đ&#7847;y
đ&#7911; thông tin t&#7915;: đ&#7883;a ch&#7881; hàng hóa, thông tin s&#7843;n
ph&#7849;m, h&igrave;nh th&#7913;c thanh toán đ&#7875; ngư&#7901;i mua có đ&#7847;y
đ&#7911; thông tin đi đ&#7871;n quy&#7871;t đ&#7883;nh mua hàng v&#7899;i
h&igrave;nh th&#7913;c nào.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Sàn TMĐT nhanh60s.vn cung c&#7845;p cho Ngư&#7901;i mua và
Ngư&#7901;i bán m&#7897;t môi trư&#7901;ng giao d&#7883;ch qua internet an toàn
thông qua các h&igrave;nh th&#7913;c sau:</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Thanh toán an toàn qua Ví đi&#7879;n t&#7917; Nganluong.vn:
H&igrave;nh th&#7913;c này s&#7869; đư&#7907;c trung gian thanh toán Ví đi&#7879;n
t&#7917; Nganluong.vn đ&#7913;ng ra đ&#7843;m b&#7843;o an toàn giao d&#7883;ch
cho c&#7843; ngư&#7901;i mua l&#7851;n ngư&#7901;i bán.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Giao hàng trư&#7899;c thu ti&#7873;n sau (COD)  qua c&#7893;ng
giao nh&#7853;n Shichung.vn: H&igrave;nh th&#7913;c này Ngư&#7901;i mua s&#7869;
nh&#7853;n hàng ki&#7875;m tra hài l&ograve;ng m&#7899;i thanh toán ti&#7873;n
cho ngư&#7901;i bán thông qua h&atilde;ng v&#7853;n chuy&#7875;n.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Sàn TMĐT nhanh60s.vn luôn đưa ra c&#7843;nh báo trư&#7899;c
khi Ngư&#7901;i mua khi l&#7921;a ch&#7885;n h&igrave;nh th&#7913;c giao d&#7883;ch
không an toàn và  khuy&#7871;n cáo ngư&#7901;i mua không nên giao d&#7883;ch
thanh toán ti&#7873;n tr&#7921;c ti&#7871;p cho ngư&#7901;i bán v&igrave; ch&#7913;a
đ&#7921;ng r&#7845;t nhi&#7873;u r&#7911;i ro l&#7915;a đ&#7843;o.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Khi ngư&#7901;i bán đăng t&#7843;i thông tin hàng hoá và ngư&#7901;i
mua đ&#7863;t mua hàng t&#7841;i Nhanh60s.vn. Các bên coi như đ&#7891;ng
&yacute; tham gia giao k&#7871;t mua bán hàng hoá v&#7899;i nhau. Các bên cam k&#7871;t
th&#7921;c hi&#7879;n đ&#7847;y đ&#7911; quy tr&igrave;nh mua bán và v&#7853;n
chuy&#7875;n hàng hoá mà m&igrave;nh l&#7921;a ch&#7885;n, phù h&#7907;p v&#7899;i
quy đ&#7883;nh c&#7911;a Nhanh60s.vn và c&#7911;a pháp lu&#7853;t trên cơ s&#7903;
b&#7843;o đ&#7843;m quy&#7873;n l&#7907;i c&#7911;a các bên tham gia.</p>

<p class=MsoNormal>&nbsp;</p>

<h3><a name="_Toc407646415">II.4: Quy đ&#7883;nh b&#7843;o v&#7879; thành viên</a></h3>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>M&#7885;i thành viên khi tham gia ho&#7841;t đ&#7897;ng t&#7841;i
sàn TMDT Nhanh60s.vn đư&#7907;c b&#7843;o v&#7879; theo các quy đ&#7883;nh c&#7911;a
pháp lu&#7853;t.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Sàn TMĐT nhanh60s.vn công b&#7889; công khai chi ti&#7871;t
thông tin v&#7873; tên công ty, đ&#7883;a ch&#7881; ho&#7841;t đ&#7897;ng, đ&#7883;a
ch&#7881;  Văn ph&ograve;ng ho&#7841;t đ&#7897;ng, chi ti&#7871;t s&#7889;
hotline h&#7895; tr&#7907;, nick yahoo, nick skype, h&#7895; tr&#7907; livechat
trên website c&#7911;a Sàn TMDT nhanh60s.vn đ&#7875; h&#7895; tr&#7907; cho m&#7885;i
khách hàng khi tham gia ho&#7841;t đ&#7897;ng t&#7841;i Nhanh60s.vn.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Công khai thông tin thành viên: V&#7899;i ngư&#7901;i bán
hàng t&#7841;i Nhanh60s.vn chúng tôi yêu c&#7847;u xác th&#7921;c thông tin s&#7889;
đi&#7879;n tho&#7841;i, email và hi&#7875;n th&#7883; công khai thông tin c&#7911;a
ngư&#7901;i bán đ&#7875; ngư&#7901;i mua có th&#7875; t&igrave;m hi&#7875;u và
quy&#7871;t đ&#7883;nh:</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>-       Các thông tin c&#7911;a Ngư&#7901;i bán: tài kho&#7843;n
chát skype, yahoo. Đ&#7883;a ch&#7881; bán hàng, s&#7889; đi&#7879;n tho&#7841;i
liên l&#7841;c, thông tin v&#7873; gian hàng (n&#7871;u có). Ngư&#7901;i mua có
th&#7875; liên l&#7841;c tr&#7921;c ti&#7871;p v&#7899;i ngư&#7901;i bán đ&#7875;
t&igrave;m hi&#7875;u v&#7873; s&#7843;n ph&#7849;m trư&#7899;c khi quy&#7871;t
đ&#7883;nh giao d&#7883;ch.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Công khai thông tin đánh giá: Sàn TMĐT công khai các đánh
giá uy tín c&#7911;a ngư&#7901;i mua và ngư&#7901;i bán. G&#7891;m có: thông
tin b&igrave;nh lu&#7853;n, comment v&#7873; ch&#7845;t lư&#7907;ng hàng hoá,
ph&#7909;c v&#7909; c&#7911;a ngư&#7901;i bán trên website, thông tin v&#7873;
các ch&#7913;ng nh&#7853;n b&#7843;o đ&#7843;m uy tín. Ngư&#7901;i mua có th&#7875;
tim hi&#7875;u thông tin trư&#7899;c khi quy&#7871;t đ&#7883;nh giao d&#7883;ch
v&#7899;i Ngư&#7901;i bán và ngư&#7907;c l&#7841;i.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>B&#7843;o đ&#7843;m an toàn trong giao d&#7883;ch: Sàn TMĐT
nhanh60s.vn cung c&#7845;p h&igrave;nh th&#7913;c giao d&#7883;ch an toàn:
h&igrave;nh th&#7913;c giao d&#7883;ch qua Ví đi&#7879;n t&#7917; nganluong.vn
ho&#7863;c giao hàng trư&#7899;c – tr&#7843; ti&#7873;n sau qua c&#7893;ng giao
nh&#7853;n Shipchung.vn</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Sàn TMĐT nhanh60s.vn khuy&#7871;n cáo Ngư&#7901;i tiêu dùng
không nên giao d&#7883;ch chuy&#7875;n ti&#7873;n tr&#7921;c ti&#7871;p cho ngư&#7901;i
bán đ&#7875; tránh các r&#7911;i ro l&#7915;a đ&#7843;o.</p>

<p class=MsoNormal>&nbsp;</p>

<h2><a name="_Toc407646416">III, Quy&#7873;n và trách nhi&#7879;m c&#7911;a các
bên tham gia sàn TMDT</a></h2>

<p class=MsoNormal>&nbsp;</p>

<h3><a name="_Toc407646417">III.1 Trách nhi&#7879;m và Quy&#7873;n c&#7911;a
thành viên  tham gia Nhanh60s.vn</a></h3>

<p class=MsoNormal>&nbsp;</p>

<h4>III.1.1 Quy&#7873;n c&#7911;a thành viên tham gia Sàn TMĐT Nhanh60s.vn</h4>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Thành viên tham gia sàn TMDT Nhanh60s.vn đư&#7907;c quy&#7873;n
đăng k&yacute; thành viên mi&#7871;n phí v&#7899;i m&#7897;t tên đăng k&yacute;
và m&#7853;t kh&#7849;u riêng đ&#7875; đư&#7907;c vào s&#7917; d&#7909;ng các d&#7883;ch
v&#7909; và các giao d&#7883;ch c&#7911;a m&igrave;nh trên Sàn giao d&#7883;ch
TMĐT nhanh60s.vn</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>M&#7885;i thành viên đư&#7907;c quy&#7873;n đăng k&yacute; t&#7841;o
m&#7897;t gian hàng riêng mi&#7877;n phí đ&#7875; trưng bày hàng hoá và ti&#7871;n
hành giao d&#7883;ch kinh doanh c&#361;ng như qu&#7843;ng bá doanh nghi&#7879;p
c&#7911;a m&igrave;nh trên Sàn TMĐT nhanh60s.vn theo s&#7921; cho phép
c&#361;ng như quy đ&#7883;nh c&#7911;a pháp lu&#7853;t v&#7873; thanh toán, qu&#7843;ng
cáo, b&#7843;o v&#7879; quy&#7873;n s&#7903; h&#7919;u, b&#7843;o v&#7879; quy&#7873;n
l&#7907;i ngư&#7901;i tiêu dùng, đi&#7873;u ki&#7879;n kinh doanh….</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>M&#7885;i thành viên đư&#7907;c h&#7895; tr&#7907;, hư&#7899;ng
d&#7851;n s&#7917; d&#7909;ng đư&#7907;c các công c&#7909;, các tính năng ph&#7909;c
v&#7909; cho vi&#7879;c xây d&#7921;ng c&#7917;a hàng, ti&#7871;n hành giao d&#7883;ch
và s&#7917; d&#7909;ng các d&#7883;ch v&#7909; ti&#7879;n ích trên Sàn giao d&#7883;ch
TMĐT nhanh60s.vn</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Đư&#7907;c tham gia các chương tr&igrave;nh khuy&#7871;n
m&atilde;i  và hư&#7903;ng các chính sách ưu đ&atilde;i do Sàn giao d&#7883;ch
TMĐT nhanh60s.vn  hay các đ&#7889;i tác th&#7913; ba cung c&#7845;p trên Sàn
giao d&#7883;ch TMĐT nhanh60s.vn  Các chính sách ưu đ&atilde;i này s&#7869; đư&#7907;c
đăng t&#7843;i tr&#7921;c ti&#7871;p trên Sàn giao d&#7883;ch TMĐT  nhanh60s.vn
ho&#7863;c đư&#7907;c g&#7917;i tr&#7921;c ti&#7871;p đ&#7871;n các thành viên;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Đóng góp &yacute; ki&#7871;n cho Sàn giao d&#7883;ch TMĐT
nhanh60s.vn  trong quá tr&igrave;nh ho&#7841;t đ&#7897;ng. Các ki&#7871;n ngh&#7883;
đư&#7907;c g&#7917;i tr&#7921;c ti&#7871;p b&#7857;ng thư, fax ho&#7863;c email
đ&#7871;n cho Sàn giao d&#7883;ch TMĐT</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Đư&#7907;c quy&#7873;n liên l&#7841;c v&#7899;i các b&#7897;
ph&#7853;n h&#7895; tr&#7907; c&#7911;a Sàn TMĐT nhanh60s.vn khi giao d&#7883;ch
, trư&#7899;c và sau khi mua hàng</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Đư&#7907;c quy&#7873;n nh&#7853;n các thông tin cơ b&#7843;n
liên quan đ&#7871;n giao d&#7883;ch: m&atilde; hóa đơn, m&atilde; thanh toán, t&#7893;ng
giá tr&#7883; giao d&#7883;ch, th&#7901;i gian nh&#7853;n hàng đ&#7875; có th&#7875;
th&#7921;c hiên hi&#7879;u qu&#7843; hành vi mua bán.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Đư&#7907;c b&#7843;o v&#7879; thông tin cá nhân tuy&#7879;t
đ&#7889;i, và n&#7871;u Sàn TMĐT nhanh60s.vn cung c&#7845;p thông tin cho bên
th&#7913; 3 ph&#7843;i có s&#7921; cho phép c&#7911;a Thành viên, ngo&#7841;i
tr&#7915; các trư&#7901;ng h&#7907;p theo yêu c&#7847;u c&#7911;a cơ quan pháp
lu&#7853;t.</p>

<p class=MsoNormal>&nbsp;</p>

<h4>III.1.2 Ngh&#297;a v&#7909; c&#7911;a thành viên tham gia Sàn TMĐT
nhanh60s.vn</h4>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Thành viên khi đăng k&yacute; ph&#7843;i công b&#7889; đ&#7849;y
đ&#7911; thông tin theo quy đ&#7883;nh c&#7911;a pháp lu&#7853;t v&#7873;: Đ&#7883;a
ch&#7881;, gi&#7845;y phép KD, và thông tin liên h&#7879;…Thành viên ph&#7843;i
đ&#7843;m b&#7843;o tính xác th&#7921;c và ch&#7883;u trách nhi&#7879;m trư&#7899;c
pháp lu&#7853;t v&#7873; thông tin c&#7911;a cá nhân, doanh nghiêp khi tham gia
ho&#7841;t đ&#7897;ng trên Sàn TMĐT nhanh60s.vn. Đ&#7843;m b&#7843;o tính chính
xác c&#7911;a thông tin hàng hóa khi tham gia đăng bán s&#7843;n ph&#7849;m lên
Sàn TMĐT nhanh60s.vn</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Thành viên ph&#7843;i tuân th&#7911; quy đ&#7883;nh c&#7911;a
pháp lu&#7853;t có liên quan đ&#7871;n: đăng t&#7843;i thông tin hàng hoá, giao
d&#7883;ch mua bán, thanh toán, qu&#7843;ng cáo, khuy&#7871;n m&#7841;i, s&#7903;
h&#7919;u trí tu&#7879;, b&#7843;o v&#7879; quy&#7873;n l&#7907;i ngư&#7901;i
tiêu dùng….</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Thành viên ph&#7843;i tuân th&#7911; các quy đ&#7883;nh pháp
lu&#7853;t v&#7873; cung c&#7845;p thông tin và giao k&#7871;t h&#7907;p đ&#7891;ng
trên website thương m&#7841;i đi&#7879;n t&#7917; và các quy đ&#7883;nh t&#7841;i
Quy ch&#7871; này;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Thành  viên có ngh&#297;a v&#7909; t&#7921; b&#7843;o m&#7853;t
và lưu gi&#7919; và m&#7885;i ho&#7841;t đ&#7897;ng s&#7917; d&#7909;ng d&#7883;ch
v&#7909; dư&#7899;i tên đăng k&yacute;, m&#7853;t kh&#7849;u và h&#7897;p thư
đi&#7879;n t&#7917; c&#7911;a m&igrave;nh. Sàn TMĐT nhanh60s.vn s&#7869; không
ch&#7883;u trách nhi&#7879;m v&#7873; nh&#7919;ng t&#7893;n th&#7845;t do Thành
viên đ&#7875; l&#7897; thông tin giao d&#7883;ch (Tài kho&#7843;n, m&#7853;t kh&#7849;u,
s&#7889; th&#7867; Ngân hàng..) cho bên th&#7913; 3.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Thành viên ch&#7883;u trách nhi&#7879;m v&#7873; n&#7897;i
dung, h&igrave;nh &#7843;nh c&#7911;a thông tin Doanh nghi&#7879;p và các thông
tin khác c&#361;ng như toàn b&#7897; quá tr&igrave;nh giao d&#7883;ch v&#7899;i
các đ&#7889;i tác trên Sàn giao d&#7883;ch TMĐT nhanh60s.vn. </p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Thành viên không đư&#7907;c phép s&#7917; d&#7909;ng d&#7883;ch
v&#7909; c&#7911;a Sàn giao d&#7883;ch TMĐT nhanh60s.vn vào nh&#7919;ng m&#7909;c
đích b&#7845;t h&#7907;p pháp, l&#7915;a đ&#7843;o, đe do&#7841;, thăm
d&ograve; thông tin b&#7845;t h&#7907;p pháp, phá ho&#7841;i, t&#7841;o ra và
phát tán virus gây hư h&#7841;i t&#7899;i h&#7879; th&#7889;ng, c&#7845;u
h&igrave;nh, truy&#7873;n t&#7843;i thông tin c&#7911;a Sàn giao d&#7883;ch
TMĐT nhanh60s.vn  hay s&#7917; d&#7909;ng d&#7883;ch v&#7909; c&#7911;a
m&igrave;nh vào m&#7909;c đích đ&#7847;u cơ, l&#361;ng đo&#7841;n th&#7883; trư&#7901;ng
t&#7841;o nh&#7919;ng đơn đ&#7863;t hàng, chào hàng gi&#7843;, k&#7875; c&#7843;
ph&#7909;c v&#7909; cho vi&#7879;c phán đoán nhu c&#7847;u th&#7883; trư&#7901;ng.
Trong trư&#7901;ng h&#7907;p vi ph&#7841;m th&igrave; thành viên ph&#7843;i ch&#7883;u
trách nhi&#7879;m v&#7873; các hành vi c&#7911;a m&igrave;nh trư&#7899;c pháp
lu&#7853;t;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Không đư&#7907;c thay đ&#7893;i, ch&#7881;nh s&#7917;a, gán
gép, copy, truy&#7873;n bá, phân ph&#7889;i, cung c&#7845;p và t&#7841;o nh&#7919;ng
công c&#7909; tương t&#7921; c&#7911;a d&#7883;ch v&#7909; do Sàn giao d&#7883;ch
TMĐT nhanh60s.vn cung c&#7845;p cho m&#7897;t bên th&#7913; ba n&#7871;u không
đư&#7907;c s&#7921; đ&#7891;ng &yacute; c&#7911;a Sàn giao d&#7883;ch TMĐT
chodietu.vn trong b&#7843;n Quy ch&#7871; này;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Không đư&#7907;c hành đ&#7897;ng gây m&#7845;t uy tín c&#7911;a
Sàn giao d&#7883;ch TMĐT nhanh60s.vn dư&#7899;i m&#7885;i h&igrave;nh th&#7913;c
như gây m&#7845;t đoàn k&#7871;t gi&#7919;a các thành viên b&#7857;ng cách s&#7917;
d&#7909;ng tên đăng k&yacute; th&#7913; hai, thông qua m&#7897;t bên th&#7913;
ba ho&#7863;c tuyên truy&#7873;n, ph&#7893; bi&#7871;n nh&#7919;ng thông tin
không có l&#7907;i cho uy tín c&#7911;a Sàn giao d&#7883;ch TMĐT nhanh60s.vn</p>

<p class=MsoNormal>&nbsp;</p>

<h3><a name="_Toc407646418">III.2 Quy&#7873;n và ngh&#297;a v&#7909; c&#7911;a
Sàn TMĐT nhanh60s.vn</a></h3>

<p class=MsoNormal>&nbsp;</p>

<h4>III.2.1 Quy&#7873;n c&#7911;a Sàn TMĐT nhanh60s.vn</h4>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Sàn TMĐT nhanh60s.vn  có quy&#7873;n ki&#7875;m tra thông
tin các t&#7893; ch&#7913;c, cá nhân đưa lên Sàn đ&#7863;c bi&#7879;t là thông
tin v&#7873; giá c&#7843; và ch&#7845;t lư&#7907;ng s&#7843;n ph&#7849;m. Có
quy&#7873;n lo&#7841;i b&#7887; các thông tin vi ph&#7841;m pháp lu&#7853;t,
các quy đ&#7883;nh c&#7911;a sàn c&#361;ng như không phù h&#7907;p v&#7899;i
phong t&#7909;c văn hoá.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Có quy&#7873;n qu&#7843;ng bá các chương tr&igrave;nh, s&#7843;n
phâm c&#7911;a Sàn TMĐT nhanh60s.vn đ&#7871;n các thành viên ho&#7863;c chia s&#7867;
thông tin thành viên cho các nhà cung c&#7845;p d&#7883;ch v&#7909; là bên th&#7913;
3 cùng v&#7853;n hành d&#7883;ch v&#7909; v&#7899;i Sàn TMĐT nhanh60s.vn</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>T&#7915; ch&#7889;i, t&#7841;m ng&#7915;ng ho&#7863;c ch&#7845;m
d&#7913;t cung c&#7845;p d&#7883;ch v&#7909; cho Thành viên trong trư&#7901;ng
h&#7907;p có cơ s&#7903; ch&#7913;ng minh Thành viên cung c&#7845;p thông tin
cho Sàn TMĐT nhanh60s.vn  không chính xác, không đ&#7847;y đ&#7911;, vi ph&#7841;m
pháp lu&#7853;t, đ&#7841;o đ&#7913;c, thu&#7847;n phong m&#7929; t&#7909;c Vi&#7879;t
Nam.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>T&#7915; ch&#7889;i cung c&#7845;p m&#7897;t ho&#7863;c t&#7845;t
c&#7843; d&#7883;ch v&#7909; trên Sàn trong trư&#7901;ng h&#7907;p: Thành viên
vi ph&#7841;m Quy ch&#7871; ho&#7863;c có nh&#7919;ng hành vi &#7843;nh hư&#7903;ng
đ&#7871;n ho&#7841;t đ&#7897;ng kinh doanh trên Sàn TMĐT nhanh60s.vn.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>T&#7915; ch&#7889;i cung c&#7845;p m&#7897;t ho&#7863;c t&#7845;t
c&#7843; d&#7883;ch v&#7909; n&#7871;u Thành viên không đ&#7911; năng l&#7921;c
tài chính th&#7921;c hi&#7879;n ngh&#297;a v&#7909; khi tham gia giao d&#7883;ch
trên Sàn ho&#7863;c/và có nh&#7919;ng ho&#7841;t đ&#7897;ng l&#7915;a đ&#7843;o,
gi&#7843; m&#7841;o, gây r&#7889;i lo&#7841;n th&#7883; trư&#7901;ng, gây m&#7845;t
đoàn k&#7871;t đ&#7889;i v&#7899;i các Thành viên khác c&#7911;a Sàn TMĐT
nhanh60s.vn.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal> Sàn TMĐT nhanh60s.vn gi&#7919; b&#7843;n quy&#7873;n s&#7917;
d&#7909;ng d&#7883;ch v&#7909; và các n&#7897;i dung trên Sàn TMĐT nhanh60s.vn 
theo lu&#7853;t b&#7843;n quy&#7873;n qu&#7889;c t&#7871; và các quy d&#7883;nh
pháp lu&#7853;t v&#7873; b&#7843;o h&#7897; s&#7903; h&#7919;u trí tu&#7879; t&#7841;i
Vi&#7879;t Nam.</p>

<p class=MsoNormal>&nbsp;</p>

<h4>III.2.2 Trách nhi&#7879;m c&#7911;a Sàn TMĐT nhanh60s.vn</h4>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>T&#7893; ch&#7913;c thi&#7871;t l&#7853;p h&#7879; th&#7889;ng
bao g&#7891;m:</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Thi&#7871;t l&#7853;p cơ ch&#7871; cung c&#7845;p thông tin
và giao k&#7871;t h&#7907;p đ&#7891;ng trên website thương m&#7841;i đi&#7879;n
t&#7917; cho phép thương nhân, t&#7893; ch&#7913;c, cá nhân tham gia Sàn giao d&#7883;ch
TMĐT th&#7921;c hi&#7879;n quy tr&igrave;nh giao k&#7871;t H&#7907;p đ&#7891;ng;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Lưu gi&#7919; thông tin đăng k&yacute; c&#7911;a thương nhân
ho&#7863;c thông tin cá nhân c&#7911;a các cá nhân ngay t&#7915; ngày thương
nhân ho&#7863;c cá nhân đăng k&yacute; tham gia Sàn giao d&#7883;ch TMĐT và thư&#7901;ng
xuyên c&#7853;p nh&#7853;t các thông tin thay đ&#7893;i, b&#7893; sung có liên
quan;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Áp d&#7909;ng các bi&#7879;n pháp c&#7847;n thi&#7871;t đ&#7875;
đ&#7843;m b&#7843;o an toàn thông tin liên quan đ&#7871;n bí m&#7853;t kinh
doanh c&#7911;a thương nhân và thông tin cá nhân. Không đư&#7907;c ti&#7871;t l&#7897;,
chuy&#7875;n như&#7907;ng, cho thuê ho&#7863;c bán các thông tin liên quan đ&#7871;n
bí m&#7853;t kinh doanh ho&#7863;c thông tin cá nhân c&#7911;a ngư&#7901;i tiêu
dùng khi chưa đư&#7907;c s&#7921; đ&#7891;ng &yacute; c&#7911;a các bên liên
quan, tr&#7915; trư&#7901;ng h&#7907;p pháp lu&#7853;t có quy đ&#7883;nh khác;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Tích c&#7921;c h&#7895; tr&#7907; cơ quan qu&#7843;n
l&yacute; nhà nư&#7899;c đi&#7873;u tra các hành vi kinh doanh vi ph&#7841;m
pháp lu&#7853;t; cung c&#7845;p các tài li&#7879;u như thông tin đăng
k&yacute;, l&#7883;ch s&#7917; d&#7919; li&#7879;u giao d&#7883;ch, ... c&#7911;a
đ&#7889;i tư&#7907;ng có hành vi vi ph&#7841;m pháp lu&#7853;t trên sàn giao d&#7883;ch
thương m&#7841;i đi&#7879;n t&#7917;;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Khi ngư&#7901;i tiêu dùng mua hàng hóa ho&#7863;c d&#7883;ch
v&#7909; phát sinh mâu thu&#7851;n v&#7899;i ngư&#7901;i bán ho&#7863;c b&#7883;
t&#7893;n h&#7841;i l&#7907;i ích h&#7907;p pháp, thương nhân, t&#7893; ch&#7913;c
v&#7853;n hành sàn thương m&#7841;i đi&#7879;n t&#7917; ph&#7843;i cung c&#7845;p
cho ngư&#7901;i tiêu dùng thông tin đăng k&yacute; c&#7911;a ngư&#7901;i bán,
tích c&#7921;c h&#7895; tr&#7907; ngư&#7901;i tiêu dùng b&#7843;o v&#7879; quy&#7873;n
và l&#7907;i ích h&#7907;p pháp c&#7911;a b&#7843;n thân;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Ch&#7883;u trách nhi&#7879;m xây d&#7921;ng Sàn giao d&#7883;ch
bao g&#7891;m m&#7897;t s&#7889; công vi&#7879;c chính như: nghiên c&#7913;u,
thi&#7871;t k&#7871;, mua s&#7855;m các thi&#7871;t b&#7883; ph&#7847;n c&#7913;ng
và ph&#7847;n m&#7873;m, k&#7871;t n&#7889;i Internet, xây d&#7921;ng chính
sách ph&#7909;c v&#7909; cho ho&#7841;t đ&#7897;ng Sàn TMĐT Nhanh60s.vn trong
đi&#7873;u ki&#7879;n và ph&#7841;m vi cho phép;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Xây d&#7921;ng các chính sách d&#7883;ch v&#7909; áp d&#7909;ng
cho t&#7915;ng đ&#7889;i tư&#7907;ng trên Sàn giao d&#7883;ch. Các chính sách
này s&#7869; đư&#7907;c công b&#7889; trên Sàn giao d&#7883;ch TMĐT
nhanh60s.vn;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal> Tri&#7875;n khai và h&#7907;p tác v&#7899;i các đ&#7889;i
tác trong vi&#7879;c xây d&#7921;ng h&#7879; th&#7889;ng các d&#7883;ch v&#7909;,
các công c&#7909; ti&#7879;n ích ph&#7909;c v&#7909; cho vi&#7879;c giao d&#7883;ch
c&#7911;a các Thành viên tham gia và ngư&#7901;i s&#7917; d&#7909;ng trên Sàn
TMĐT nhanh60s.vn;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Duy tr&igrave; ho&#7841;t đ&#7897;ng b&igrave;nh thư&#7901;ng
c&#7911;a Sàn TMĐT nhanh60s.vn và kh&#7855;c ph&#7909;c các s&#7921; c&#7889; x&#7843;y
ra &#7843;nh hư&#7903;ng t&#7899;i ho&#7841;t đ&#7897;ng c&#7911;a Sàn. Trư&#7901;ng
h&#7907;p x&#7843;y ra các s&#7921; ki&#7879;n b&#7845;t kh&#7843; kháng như:
Thiên tai, h&#7887;a ho&#7841;n, bi&#7871;n đ&#7897;ng x&atilde; h&#7897;i, các
quy&#7871;t đ&#7883;nh c&#7911;a cơ quan ch&#7913;c năng...th&igrave; Sàn giao
d&#7883;ch TMĐT Nhanh60s.vn không ph&#7843;i ch&#7883;u trách nhi&#7879;m liên
đ&#7899;i;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Ban qu&#7843;n l&yacute; Sàn giao d&#7883;ch TMĐT nhanh60s.vn
có trách nhi&#7879;m hư&#7899;ng d&#7851;n các Thành viên th&#7921;c hi&#7879;n
quá tr&igrave;nh mua bán qua Sàn TMĐT nhanh60s.vn đ&#7863;c bi&#7879;t là vi&#7879;c
áp d&#7909;ng ch&#7913;c năng thanh toán tr&#7921;c tuy&#7871;n.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>- Cung c&#7845;p thông tin, các d&#7883;ch v&#7909; và s&#7921;
h&#7895; tr&#7907; theo yêu c&#7847;u c&#7911;a b&#7841;n</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>- G&#7917;i e-newsletter thông báo các chương tr&igrave;nh,
s&#7921; ki&#7879;n tiêu bi&#7875;u c&#7911;a chúng tôi</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>- Gi&#7843;i quy&#7871;t các tranh ch&#7845;p, các v&#7845;n
đ&#7873; phát sinh liên quan đ&#7871;n vi&#7879;c s&#7917; d&#7909;ng website</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>- Ngăn ch&#7863;n các ho&#7841;t đ&#7897;ng ph&#7841;m pháp
ho&#7863;c b&#7883; c&#7845;m đư&#7907;c nêu trong Th&#7887;a thu&#7853;n ngư&#7901;i
dùng</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>- Đo lư&#7901;ng và c&#7843;i thi&#7879;n các d&#7883;ch v&#7909;
c&#7911;a chúng tôi</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>- So sánh, đ&#7889;i chi&#7871;u tính chính xác c&#7911;a
thông tin mà b&#7841;n cung c&#7845;p v&#7899;i bên th&#7913; ba</p>

<p class=MsoNormal>&nbsp;</p>

<h3><a name="_Toc407646419">III.3 Cơ ch&#7871; gi&#7843;i quy&#7871;t khi&#7871;u
n&#7841;i:</a></h3>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Khi có khi&#7871;u n&#7841;i v&#7873; ho&#7841;t đ&#7897;ng
mua bán x&#7843;y ra, Sàn TMDT Nhanh60s.vn s&#7869; là trung tâm hoà gi&#7843;i
khi&#7871;u n&#7841;i theo h&igrave;nh th&#7913;c thương lư&#7907;ng d&#7921;a
trên nguyên t&#7855;c b&igrave;nh đ&#7859;ng, tôn tr&#7885;ng quy&#7873;n l&#7907;i
c&#7911;a các bên đ&#7921;a trên quy đ&#7883;nh c&#7911;a pháp lu&#7853;t và
các b&#7857;ng ch&#7913;ng hi&#7879;n th&#7921;c.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>N&#7871;u trư&#7901;ng h&#7907;p không th&#7875; đ&#7841;t
đư&#7907;c s&#7921; tho&#7843; thu&#7853;n theo mong mu&#7889;n, các bên có th&#7875;
nh&#7901; s&#7921; phân gi&#7843;i c&#7911;a pháp lu&#7853;t. Các bên có quy&#7873;n
đưa v&#7909; vi&#7879;c ra toàn án có th&#7849;m quy&#7873;n t&#7841;i Hà N&#7897;i.
Các bên s&#7869; tuân th&#7911; theo phán quy&#7871;t cu&#7889;i cùng c&#7911;a
Toàn Án.</p>

<p class=MsoNormal>&nbsp;</p>

<h2><a name="_Toc407646420">IV Đi&#7873;u kho&#7843;n áp d&#7909;ng</a></h2>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Quy ch&#7871; c&#7911;a Sàn Sàn TMDT Nhanh60s.vn chính th&#7913;c
có hi&#7879;u l&#7921;c thi hành k&#7875; t&#7915; ngày k&yacute; Quy&#7871;t đ&#7883;nh
ban hành kèm theo Quy ch&#7871; này. Sàn TMDT Nhanh60s.vn có quy&#7873;n và có
th&#7875; thay đ&#7893;i Quy ch&#7871; này b&#7857;ng cách thông báo lên Sàn
TMDT Nhanh60s.vn cho các thành viên bi&#7871;t. Quy ch&#7871; s&#7917;a đ&#7893;i
có hi&#7879;u l&#7921;c k&#7875; t&#7915; ngày Quy&#7871;t đ&#7883;nh v&#7873;
vi&#7879;c s&#7917;a đ&#7893;i Quy ch&#7871; có hi&#7879;u l&#7921;c. Vi&#7879;c
thành viên ti&#7871;p t&#7909;c s&#7917; d&#7909;ng d&#7883;ch v&#7909; sau khi
Quy ch&#7871; s&#7917;a đ&#7893;i đư&#7907;c công b&#7889; và th&#7921;c thi đ&#7891;ng
ngh&#297;a v&#7899;i vi&#7879;c h&#7885; đ&atilde; ch&#7845;p nh&#7853;n Quy ch&#7871;
s&#7917;a đ&#7893;i này</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>VI Liên h&#7879;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>Sàn TMĐT nhanh60s.vn</p>

</div>