﻿@{
    ViewBag.Title = "Kinh Nghiệm Đăng Tin";
}

		<h2>Kinh Nghiệm Đăng Tin</h2>
		
		<ol>
			<li>
				<p>
					<a href="#Q1">Đăng kí sử dụng dịch vụ</a>
				</p>
			</li>
			<li>
				<p>
					<a href="#Q2">Chỉnh sửa thông tin cá nhân</a>
				</p>
			</li>
			<li>
				<p>
					<a href="#Q3">Đăng tin rao vặt</a>
				</p>
			</li>
			<li>
				<p>
					<a href="#Q4">Nâng cấp tài khoản lên Doanh Nghiệp</a>
				</p>
			</li>
			<li>
				<p>
					<a href="#Q5">Hiển thị Online bằng Skype trên Website Nhanh60s.vn</a>
				</p>
			</li>
		</ol>

		<ol>
			<li>
				<span><h3 id="Q1">Đăng kí sử dụng dịch vụ</h3></span>
				<ul>
					<li>
						<span>Đầu tiên các bạn chọn chức năng đăng kí bên phải cùng và bổ sung đủ nội dung như hình vẽ:</span> <br />
						<img src="/Content/Exp/register.jpg"></img>
					</li>
					<br />
					<li>
						<span>Sau khi đã đăng kí xong, Nhanh60s.vn sẽ yêu cầu bạn xác nhận email đã đăng kí</span> <br />
						<img src="/Content/Exp/registerStep2.jpg"></img>
					</li>
					<br />
					<li>
						<span>Bạn vào email của mình để chọn link xác nhận đăng kí tài khoản: (Nếu không có trang inbox-Hộp Thư Đến, bạn có thể tìm nội dung mail trong spam-Thư rác):</span><br />
						<img src="/Content/Exp/confirmEmail.jpg"></img>
					</li>
					<br />
					<li>
						<span>Sau khi chọn link kích hoạt tài khoản, thì Nhanh60s.vn sẽ hiện thông báo cho bạn biết đã hoàn tất việc dăng kí và bắt đầu có thể sử dụng dịch vụ</span><br />
						<img src="/Content/Exp/confirmEmailDone.jpg"></img>
					</li>
					<br />
				</ul>
			</li>
			<li>
				<span><h3 id="Q2">Chỉnh sửa thông tin cá nhân</h3></span>
				<ul>
					<li>
						<span>Đầu tiên, bạn tiến hành đăng nhập dịch vụ:</span> <br />
						<img src="/Content/Exp/login.jpg"></img>
					</li>
					<br />
					<li>
						<span>Sau khi đã đăng nhập thành công. Bạn chỉnh sữa thông tin cá nhân bằng cách click vào tên đăng nhập của bạn ở góc phải màn hình:</span> <br />
						<img src="/Content/Exp/HomeLogin.jpg"></img>
					</li>
					<br />
					<li>
						<span>Một trang mới hiện ra cho phép bạn chỉnh sửa thông tin của mình.</span> <br />
						<img src="/Content/Exp/EditProfile.jpg"></img>
					</li>
					<br />
					<li>
						<span>Tại đây bạn thực hiện thao tác đổi logo/avatar đại diện cho bạn khi đăng tin rao bằng cách xóa các file hình rỗng và thêm vào hình của bạn:</span><br />
						<img src="/Content/Exp/UploadFileLogo.jpg"></img>
					</li>
					<br />
					<li>
						<span>Bạn lưu lại để hoàn tất thao tác</span><br />
					</li>
					<br />
				</ul>
			</li>
			<li>
				<span><h3 id="Q3">Đăng tin rao vặt</h3></span>
				<ul>
					<li>
						<span>Bạn chọn nút Đăng tin rao vặt trên đầu trang:</span> <br />
						<img src="/Content/Exp/PostMessButton.jpg"></img>
					</li>
					<br />
					<li>
						<span>Một trang mới hiện ra cho phép bạn nhập các thông tin cần thiết để đăng tin.</span> <br />
						<img src="/Content/Exp/MessPost1.jpg"></img>
					</li>
					<br />
					<li>
						<span>Ở phần nội dung chính cho phép bạn tự do chèn Youtube hoặc mp3.Zing...:</span><br />
						<span>Ví dụ bạn lấy clip nhạc Naughty Boy; Copy phần nhúng:</span><br />
						<img src="/Content/Exp/EmbeddedYoutube.jpg"></img>
						<span>Trở về trang đăng tin, bạn chọn Edit HTML và thêm vào sau phần Chèn Youtube:</span><br />
						<img src="/Content/Exp/EmbeddedYoutubeInYourPost.jpg"></img>
						<span>Kết quả sau phần Chèn Youtube:</span><br />
						<img src="/Content/Exp/EmbeddedYoutubeInYourPostDone.jpg"></img>
						<span>Tương tự với Zing.mp3:</span><br />
						<img src="/Content/Exp/EmbeddedZingMp3_1.jpg"></img>
						<img src="/Content/Exp/EmbeddedZingMp3.jpg"></img>
					</li>
					<br />
					<li>
						<span>Thêm các trường khác cho đủ nội dung:</span><br />
						<img src="/Content/Exp/MessPost2.jpg"></img>
					</li>
					<br />
					<li>
						<span>Bạn lưu lại để hoàn tất thao tác</span><br />
						<img src="/Content/Exp/confirmEmailDone.jpg"></img>
					</li>
					<br />
					<li>
						<span>Kết quả đạt được:</span><br />
						<img src="/Content/Exp/MessPostDone1.jpg"></img>
						<img src="/Content/Exp/MessPostDone2.jpg"></img>
					</li>
					<li>
						<span>Như đã đăng kí từ trước tin post của bạn được đưa vào mục Tổng hợp:</span><br />
						<img src="/Content/Exp/MessPostDone3.jpg"></img>
					</li>
				</ul>
			</li>
			<li>
				<span><h3 id="Q4">Nâng cấp tài khoản lên Doanh Nghiệp</h3></span>
				<ul>
					<li>
						<span>Bạn trở về trang chỉnh sửa thông tin cá nhân:</span> <br />
						<img src="/Content/Exp/BackToEditProfile.jpg"></img>
					</li>
					<br />
					<li>
						<span>Sau khi chọn nâng cấp lên tài khoản doanh nghiệp, trang danh nghiệp sẽ hiện ra yêu cầu bạn nhập tất cả thông tin theo yêu cầu:</span> <br />
						<img src="/Content/Exp/BackToModifyBussInfo.jpg"></img>
					</li>
					<br />
					<li>
						<span>Sau khi lưu thay đổi bạn sẽ có trang doanh nghiệp như hình:</span><br />
						<img src="/Content/Exp/BussInfo.jpg"></img>
						<img src="/Content/Exp/BussInfo2.jpg"></img>
					</li>
					<br />
					<li>
						<span>Lúc này bất cứ tin rao nào của bạn cũng sẽ hiển thị bên cạnh thông tin doanh nghiệp:</span><br />
						<img src="/Content/Exp/BackToMessToSeeProfile.jpg"></img>
					</li>
				</ul>
			</li>
			<li>
				<span><h3 id="Q5">Hiển thị Online bằng Skype trên Website Nhanh60s.vn</h3></span>
				<ul>
					<li>
						<span>Nếu skype của bạn luônn hiển thị dang offline:</span> <br />
						<img src="/Content/Exp/AllowSkypeOnWebNotDone.jpg"></img>
					</li>
					<br />
					<li>
						<span>Vào Skype mở tab: Skype>Privacy</span> <br />
					</li>
					<br />
					<li>
						<span>Bạn chọn Allow my online status to be show on web:</span><br />
						<img src="/Content/Exp/AllowSkypeOnWeb.jpg"></img>
					</li>
					<br />
					<li>
						<span>Bây giờ status của bạn đã được hiện trên Website của Nhanh60s.vn:</span><br />
						<img src="/Content/Exp/AllowSkypeOnWebDone.jpg"></img>
					</li>
				</ul>
			</li>
		</ol>