﻿@{
    ViewBag.Title = "Home Page";
}
	<div id="main-content">
				<div class="show-posts">
					<div class= "show-posts-header">
						<div class="category-header">
							Tất cả tin rao
						</div>
						<div class="sort-posts">
							Sắp xếp theo: 
							<select>
							<option value="name">Thông Thường</option>
							<option value="name">Tên</option>
							<option value="date">Ngày Đăng</option>
							<option value="views">Lượt Xem</option>
							<option value="price">Giá</option>
							</select>
						</div>
						
					</div>
@{
    string post_header = @"Cần thuê chung cư TDH Trường Thọ Thủ Đức giá rẻ";
    string post_image = @"Content\images\photo.jpg";
    string post_content = @"Tôi cần mua 1 trong 2 căn hộ số 4 hoặc số 5 của tòa A2 chung cư Thăng Long 
                        Garden - 250 Minh Khai và 1 căn 3PN cũng cùng chung cư 250 Minh Khai. Vì hướng đã hợp rồi.
                        Chỉ cần đến xem nhà ưng là xuống tiền ngay. Chính chủ nào có nhu cầu muốn bán thì li...";
    string[] post_type = { "vip", "normal", "normal", "normal","normal" }; @*5 posts*@    
    string[] post_description_header = { "Giá", "Quận/Huyện" }; @* thuc su day la mang 2 chieu, moi post co descriptions rieng*@
    string[] post_description_value = { "Thỏa thuận", "Thủ Đức"}; 
 @*demo get value from post*@    
    for (var i = 0 ; i<post_type.Length;i++)
    {
        @: <div class="post-item ">
        if (post_type[i] =="vip")
        {
        @:     <div class="post-content-wrapper vip">
        }
        else
        {
         @:    <div class="post-content-wrapper">
        }
        <text>
             <div class="post-header">
                @post_header
             </div>
            <div class="clear"></div>
		    <img src="@post_image" class="post-image">
            <div class="post-description-wrapper">
                <div class="post-content">
                    @post_content
                </div>	
            <div class = "clear"></div>
        </text>
        for(var k = 0; k < @post_description_header.Length;k++)
        {
            var temp_descrition_header = post_description_header[k];
             var temp_descrition_value = post_description_value[k];
        <text>
            <div class="description-i">
				<span class="description-i-caption">@temp_descrition_header</span>
				<span class="description-i-value">@temp_descrition_value</span>
		    </div>
        </text>
        }

@*publish date of each post, for simple we are using now.datetime*@
	<span class="published-date">
		  @DateTime.Today;
	</span>

	@:</div>
	@:</div>	
	@:</div>

    }
}

	</div>		
</div>	

		<div class="adswrapper">
			<div class="ads">
					Quảng Cáo
			</div>
		</div>


			<div id="footer" style="margin-left:10px;">	
				"Copyright 2015"
			</div>
				
	