﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
    	<link rel="stylesheet" type="text/css" href="~/Content/style.css">
    	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    	<link rel="stylesheet" type="text/css" href="~/Content/loginform.css">	

    	<script src="~/Scripts/jquery-1.9.1.min.js"></script>
    	<script src="~/Scripts/loginform.js"></script>
        <title>@ViewBag.Title </title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

    </head>
    <body>
 <div id="navi">
		<div class="navi-item">
			<a href="#home"><i class="fa fa-home fa-fw"></i>Trang Chủ</a>
		</div>
		<div class="navi-item">
			<a href="#home"><i class="fa fa-mobile fa-lg fa-fw"></i>Điện Thoại</a>
		</div>
		<div class="navi-item">
			<a href="#home"><i class="fa fa-laptop fa-fw"></i>Máy Tính & Điện Tử</a>
		</div>
		<div class="navi-item">
			<a href="#home"><i class="fa fa-car fa-fw"></i>Ôtô & Xe Máy</a>
		</div>
		<div class="navi-item">
			<a href="#home"><i class="fa fa-university fa-fw"></i>Nhà Đất</a>
		</div>
		<div class="navi-item">
			<a href="#home"><i class="fa fa-graduation-cap fa-fw"></i>Đào Tạo & Việc Làm</a>
		</div>
		<div class="navi-item">
			<a href="#home"><i class="fa fa-umbrella fa-fw"></i>Thời Trang & Mỹ Phẩm</a>
		</div>
		<div class="navi-item">
			<a href="#home"><i class="fa fa-cutlery fa-fw"></i>Khách Sạn & Ẩm Thực</a>
		</div>
		<div class="navi-item">
			<a href="#home"><i class="fa fa-plane fa-fw"></i>Dịch Vụ Du Lịch</a>
		</div>
		<div class="navi-item">
			<a href="#"><i class="fa fa-angellist fa-fw"></i>Dịch Vụ Giải Trí</a>
		</div>
		<div class="navi-item">
			<a href="#home"><i class="fa fa-money fa-fw"></i>Dịch Vụ Tài Chính</a>
		</div>
		<div class="navi-item">
			<a href="#home"><i class="fa fa-wrench fa-fw"></i>Dịch Vụ Sửa Chữa</a>
		</div>
		<div class="navi-item">
			<a href="#home"><i class="fa fa-weixin fa-fw"></i></i>Rao Vặt Linh Tinh</a>
		</div>
		<div class="navi-item">
			<a href="#home"><i class="fa fa-globe fa-fw"></i>Tổng Hợp</a>
		</div>
		<div class="navi-item">
			<a href="#home"><i class="fa fa-bullhorn fa-fw"></i>Thông Báo</a>
		</div>
		<div class="navi-item">
			<a href="#home"><i class="fa fa-info fa-fw"></i>Hỗ Trợ</a>
		</div>
	
		<div class="hot-line">
			<span style="font-size:14pt;"> HOTLINE</span></br>
			0123456789
		</div>
	</div>	

  	<div id="container">
		<div id="header">
			<div id="logo">
				Logo
			</div>
		
			<div id="search-box" class="header-box">
				<form>
					<input type="text" class="search" placeholder="Nhập từ khóa cần tìm ... ">
					<button type="button"><i class="fa fa-search"></i></button>
				</form>
			</div>
			
			
			<div id="post" class="header-box">
				<button type="button">ĐĂNG TIN RAO VẶT</button>
			</div>
			<div id="user-login">
        	        @Html.Partial("_LoginPartial")
			</div>
			
	
		</div>
		
		<div class="clear"></div>
		<div id="main-content-wrapper">
                @RenderBody()
 			
            @RenderSection("loginForm",false)
               @RenderSection("Scripts",false)
            	
		</div>
	</div>
	<!-- end of container-->


	
	<div id="social-network">
		<a href="#"><i class="fa fa-facebook fa-lg"></i>&nbsp; </a>
		<a href="#"><i class="fa fa-twitter fa-lg"></i>&nbsp; </a>
		<a href="#"><i class="fa fa-google-plus fa-lg"></i>&nbsp; </a>
	</div>
	
	<!--login popup -->

    <div id="overlay" style="display:none"></div>
    <div id="modal-login" style="display:none">
	    <div id="content-login">
		    <div class="login">
		      <h1>Đăng nhập người dùng</h1>
		      <form method="post" action="/account/login" >
                @Html.AntiForgeryToken()
			    <p><input type="text" id="UserName" name="UserName" value="" placeholder="Email"></p>
			    <p><input type="password" id="Password" name="Password" value="" placeholder="Mật Khẩu"></p>
@*			    <p class="remember_me">
			    <label>
                <input type="checkbox" name="RememberMe" id="RememberMe" value="true">
				    Ghi nhớ đăng nhập
                <input name="RememberMe" type="hidden" value="false">
			    </label>
			    </p>*@
			    <p class="submit"><input type="submit" name="commit" value="Đăng nhập"></p>
		      </form>
		    </div>
		
		    <div class="login-help">
		      <p> Quên mật khẩu ? <a href="index.html">Reset Password</a>.</p>
		    </div>
	    </div>
    </div>

    <div id="modal-register" style="display:none">
	    <div id="content-register">
		    <div class="login">
		      <h1>Đăng ký</h1>
		      <form method="post" action="/account/register">
                @Html.AntiForgeryToken()
			    <p><input type="text" name="Username" value="" placeholder="Username"></p>
			    <p><input  name="Password" type="Password" value="" placeholder="Mật Khẩu"></p>
                <p><input  name="ConfirmPassword" type="Password" value="" placeholder="Nhập lại mật khẩu"></p>
                <p><input type="text" name="Name" value="" placeholder="Tên đầy đủ"></p>
                <p><input type="text" name="Email" value="" placeholder="Email"></p>
                <p><input type="text" name="Phone" value="" placeholder="Điện thoại"></p>
                <p><input type="text" name="Address" value="" placeholder="Địa chỉ"></p>
                <p><select  name="UserTypeID" >
                        <option value="00">Cá Nhân</option>
                        <option value="01">Doanh Nghiệp</option>
                    </select>
                    </p>

			    <p class="submit"><input type="submit" name="commit" value="Đăng Ký"></p>
		      </form>
		    </div>
	    </div>
    </div>






    </body>
</html>
