﻿@if (Request.IsAuthenticated) {
    <text>
        @Html.ActionLink("Xin Chào, "+ User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        <p></p>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Đăng Xuất</a>
        }
    </text>
} else {
    @*
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
    *@
    
     <div id="user-login">
		<a id="register-action" href="#">Đăng ký</a>
		<p></p>
    	<a id="login-action" href="#">Đăng nhập</a>
	</div>
    
 
}
