﻿@model WebRaoVat.Models.Post

@{
    ViewBag.Title = Model.Title;
    string product_link = "http://nhanh60s.vn/post/details/" + Model.PostId.ToString();
}

@ViewsUtilities.FacebookInit()

<div id="main-content">
    <div id="show-post-detail">
         <div class= "post-detail-header">
			<div class="category-header">
				@Model.PostCategory.CategoryName
			</div>
             @if (ViewBag.Editable == 1)
             {
                 <div class="edit-link"><a href="/Post/Edit/@Model.PostId"><i style="padding-right:10px;" class="fa fa-pencil-square-o fa-lg"></i>Sửa đổi bài viết</a> </div>
                 
                  <div class="delete-link"><a href="/Post/Delete/@Model.PostId"><i style="padding-right:10px;" class="fa fa-times fa-lg"></i>Xóa bài viết</a> </div>
                    
             }
		    <div class="related-links">
			    <a href="#"> << Trở về </a>
			    <a href="#"> Kế tiếp >> </a>
		    </div>				
	    </div>
@{string[] image_link = Model.PostImages.Select(t => t.ImageURL).ToArray();}
@ViewsUtilities.ProductImages(image_link)
        <div id="post-detail-short">
            <h2>@Model.Title</h2>
            
            @ViewsUtilities.FacebookLike(product_link)
            <span>
                @Model.ShortDescription
            </span>

            <div class="short-detail-attribute">
				<div id="detail-price">
					<p> Giá: </p>
					<h2>@Model.Price</h2>
				</div>
				<div id="hit-count">
					<i class="fa fa-check fa-4x"></i>
					<span> 
						<h2> @Model.HitCount </h2>
						<p>đã xem</p>
					</span>
				</div>
			</div><!-- short-detail-attribute -->
        </div><!-- post-detail-short -->

        <div class="clear"></div>

        <div id="post-detail-full">
            <div class="text-content">
				<span>@Html.Raw(Model.Detail)</span>
            </div>
            @ViewsUtilities.FacebookComment(product_link)
        </div><!-- end of post-detail-full -->

    </div><!-- end of show-post-detail -->
</div><!-- end of main-content -->
            <div class="adswrapper">
				<div class="module">
					<div class="module-header">
						<p>Tin được đăng bởi</p>
					</div>
					<div class="module-detail-wrapper">
						<span class="caption-medium">@(Model.UserProfile.FullName!=null?Model.UserProfile.FullName:Model.UserProfile.UserName)</span>
						<div class="clear"></div>
                        @if(Model.UserProfile.UserType==1) //doanh nghiep
                        {
						        <img class="thumbnail-64" src="/Content/Upload/Images/@Model.UserProfile.LogoImage" />
						        <div class="slogan-owner">
							        <p><em>@Model.UserProfile.Slogan</em></p>
						        </div>
						
						        <div class="clear"></div>
						        <div class="rating">
							        <span> Đánh giá: </span>
							        <div class="rating-stars">
								        <img src="/Content/Upload/Images/star.png"/>
								        <img src="/Content/Upload/Images/star.png"/>
								        <img src="/Content/Upload/Images/star.png"/>
								        <img src="/Content/Upload/Images/star.png"/>
							        </div>
						        </div>
						        <div class="clear"></div>
						        <div class="owner-contact">
							        <span>Liên hệ</span>
							        <a href="/UserProfile/Details/@Model.UserId">Ghé thăm</a>
							        <div class="clear"></div>
						        </div>
						
						        <div class="owner-contact-detail">
							        <i class="fa fa-home fa-lg"></i> <span> Địa chỉ: @Model.UserProfile.Address </span>
							        <div class="clear"></div>
							        <i class="fa fa-phone fa-lg"></i> <span> Tel: @Model.UserProfile.Phone </span>
							        <div class="clear"></div>
							        <i class="fa fa-envelope fa-lg"></i><span> Email: <a href="mailto:@Model.UserProfile.Email">@Model.UserProfile.Email</a></span>
							        <div class="clear"></div>
						        </div>
						}
					</div><!-- end of module-detail-wrappe -->
				</div><!-- end of module -->
				<div class="ads">
					Quảng Cáo
				</div>
			</div><!-- end of adswrapper -->

