﻿@model WebRaoVat.Models.Post

@{
    ViewBag.Title = "Edit";
}

<script src="/Scripts/nicEdit.js" type="text/javascript"></script>
<script type="text/javascript">
    bkLib.onDomLoaded(function () {
        new nicEditor({ fullPanel: true, iconsPath: '/Content/Images/nicEditorIcons.gif' }).panelInstance('Detail');
    });
</script>


<h2>Sửa tin rao vặt</h2>

<form action="/post/edit" class="aspform" method="post" id="createform" name="createform" novalidate="novalidate">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        
       <input type="hidden" name="UserId" value="@Model.UserId" />
        <input type="hidden" name="PostId" value="@Model.PostId" />
        <input type="hidden" name="HitCount" value="@Model.HitCount" />
    <input type="hidden" name="Active" value="@Model.Active" />

        <br /> Tiêu đề<br />
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Title, new { maxlength="200" })
            @Html.ValidationMessageFor(model => model.Title)
        </div>

            <br /> Thể loại<br />
        <div class="editor-field">
            @Html.DropDownList("CategoryId", String.Empty)
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>
            
        <br /> Mô tả ngắn gọn<br />
        <textarea id="ShortDescription" name="ShortDescription" form="createform" rows="4" cols="60" maxlength="200" >@Model.ShortDescription</textarea>
				<br />
       <br /> Mô tả chi tiết<br />
       <textarea  id="Detail" name="Detail" form="createform" rows="20" cols="60" maxlength="500">@Model.Detail</textarea>

        <br /> Giá<br />
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Price, new { maxlength="20" })
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <br /> Quận/Huyện<br />
        <div class="editor-field">
            @Html.DropDownList("ZoneId", String.Empty)
            @Html.ValidationMessageFor(model => model.ZoneId)
        </div>

        <br /> Loại tin post : <br />
 @*       <div class="editor-field">
            @Html.EditorFor(model => model.PostType)
            @Html.ValidationMessageFor(model => model.PostType)
        </div>
    *@ 
        <div class="editor-field">
            <select name="PostType" id ="PostType">
               <option value="0">Bình Thường</option>
               <option value="1">Vip</option>
            </select>
        </div>
				
				<br />
         <p>
            <input type="submit" value="Lưu thay đổi" />
        </p>
</form>

<form action="/File/Upload" class ="dropzone" id="UploadImage">
		<ul>
		<h3>Chọn upload theo thứ tự:</h3>
		<li>Ảnh đại diện cho bài viết</li>
		<li>Ảnh sản phẩm 1</li>
		<li>Ảnh sản phẩm 2</li>
		<li>...(Tối đa 1 ảnh đại diện và 5 ảnh sản phẩm)</li>
		</ul>
</form>
            @{
        //        string[] fields = { "ThumbnailUrl", "PreviewImage1", "PreviewImage2", "PreviewImage3", "PreviewImage4", "PreviewImage5" };
                string form_id = "UploadImage";
                string form_contain_fields_id = "createform";
                int num_images = 6;
            }
    @if (ViewBag.Images != null)
    {
        @ViewsUtilities.EditFile(form_id, form_contain_fields_id, num_images, ViewBag.Images);
    }
    else
    {
        @ViewsUtilities.Upload_File(form_id, form_contain_fields_id, num_images);
    }
    
   


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
