﻿@model WebRaoVat.Models.UserEditModel
@{
    ViewBag.Title = "Chỉnh sửa thông tin cá nhân";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

 @Html.Partial("_EditUserPartial")

@*
 @Html.Partial("_ChangePasswordPartial")


@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}


<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
