﻿@model WebRaoVat.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
}

<h2>Reset Password</h2>
<p>Để reset password, vui lòng nhập email hiện tại vào bên dưới.</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ResetPasswordModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <p>
            <input type="submit" value="Reset Password" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Login", "Login")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
