﻿Content-Type: text/html; charset=utf-8
<p>Chào @ViewBag.UserName,</p>

<p>Để reset password, vui lòng click vào link sau đây: <a href ="http://nhanh60s.vn/Account/ResetPasswordConfirmation/@ViewBag.ConfirmationToken">http://gift4you.me/Account/ResetPasswordConfirmation/@ViewBag.ConfirmationToken</a></p>
<p>Nếu đường dẫn phía trên không click được, hãy copy đường dẫn sau và dán vào trình duyệt : http://nhanh60s.vn/Account/ResetPasswordConfirmation/@ViewBag.ConfirmationToken</p>

Regards,<br\>
gift4you.me<br\>
