﻿Content-Type: text/html; charset=utf-8
<html>
  <body>
Chào @ViewBag.UserName,<br />

<p>Bạn vừa đăng ký tài khoản tại NHANH60S, vui lòng click vào link sau để kích hoạt tài khoản: </p><a href="http://nhanh60s.vn/Account/RegisterConfirmation/@ViewBag.ConfirmationToken">http://gift4you.me/Account/RegisterConfirmation/@ViewBag.ConfirmationToken</a>
<p>Nếu đường dẫn phía trên không click được, hãy copy đường dẫn sau và dán vào trình duyệt: http://nhanh60s.vn/Account/RegisterConfirmation/@ViewBag.ConfirmationToken </p>
<p></p>
Regards,<br />
Nhanh60s.vn<br />
  </body>
</html>
