﻿@helper Upload_File(string form_id, string form_contain_fields_id, int num_images) {
    //form id for images upload (File controller) , form_id for submit images' link, number of images's link will be summited
     <script type="text/javascript" >
         var client_file_array=[];
         var file_list = {};
         //utility function get index from array of objects
         //custom function, get the number of images' link from an array with anysize
         var get_last_images_link = function (object_array, file_name_array, num_links) {
             var links = "";
             for (var i = file_name_array.length - 1 - num_links ; i <= file_name_array.length - 1; i++) {
                 if(i<0) i=0;
                 links=links+object_array[file_name_array[i]]+":";
             }
                 return links.substring(0, links.length - 1);//remove last ":"
             }
         //Linkimage1:linkimage2:so on
            //setup dropzone cho form chua image
            $('#@form_id').dropzone({
                addRemoveLinks: true,
                removedfile: function(file) {     
                    $.ajax({
                        type: 'POST',
                        url: '/file/delete',
                        data: "filename="+file_list[file.name],
                        dataType: 'html'
                    });
                    var index = client_file_array.indexOf(file.name);
                    if (index > -1) {
                        client_file_array.splice(index, 1);
                    }
                    var _ref;
                    return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                },
                maxFilesize: 1, // 1MB
                maxFiles : @num_images,
                acceptedFiles : "image/*",
                dictInvalidFileType :"Loại file này không được hỗ trợ",
                dictFileTooBig: "File quá lớn, vượt quá 1MB",
                dictRemoveFile:"Xóa File",
                dictMaxFilesExceeded:"Vượt quá số lượng file tối đa: @num_images ",
                            /*            url: "/file/upload",
                                     
                                     paramName: "uploadfile",
                                     maxThumbnailFilesize: 5,*/
                     init: function () {

                             this.on('success', function (file, message) {
                                 var file_name = JSON.parse(message);
                                 file_list[file.name]=file_name;
                             });
                             this.on('addedfile', function (file){
                                 client_file_array.push(file.name); 
                             });
                         }
                         });


        //bat su kien submit form binh thuong, luc user submit se lay link tu dropzone add vao array .
         $('#@form_contain_fields_id').submit(function()  {   
             var images_link = get_last_images_link(file_list,client_file_array, @num_images );
             $(this).append('<input type="hidden" name="images" value="'+images_link+'" /> ');
                     return true;
                    }
                );

         $(document).ready(function () {});
             </script>
}

@helper ImageLink(string image_name){
    if(image_name == null || image_name == ""){ image_name = "NoImage.jpg";}
    <img src="/Content/Upload/Images/@image_name"/>
}

@helper EditFile(string form_id, string form_contain_fields_id, int num_images, string[]old_image_links) {
    //form id for images upload (File controller) , form_id for submit images' link, number of images's link will be summited
     <script type="text/javascript" >
         var client_file_array=[];
         var file_list = {};
         @for(int i=0;i<old_image_links.Length;i++)
         {
             if (old_image_links[i] != "")
             {
                @:file_list["@(old_image_links[i])"] = "@(old_image_links[i])";
             }
         }
         //utility function get index from array of objects
         //custom function, get the number of images' link from an array with anysize
         var get_last_images_link = function (object_array, file_name_array, num_links) {
             var links = "";
             for (var i = file_name_array.length - 1 - num_links ; i <= file_name_array.length - 1; i++) {
                 if(i<0) i=0;
                 links=links+object_array[file_name_array[i]]+":";
             }
             return links.substring(0, links.length - 1);//remove last ":"
         }
         //Linkimage1:linkimage2:so on
         //setup dropzone cho form chua image
         $('#@form_id').dropzone({
             addRemoveLinks: true,
             removedfile: function(file) {     
                 $.ajax({
                     type: 'POST',
                     url: '/file/delete',
                     data: "filename="+file_list[file.name],
                     dataType: 'html'
                 });
                 var index = client_file_array.indexOf(file.name);
                 if (index > -1) {
                     client_file_array.splice(index, 1);
                 }
                 var _ref;
                 return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
             },
             maxFilesize: 1, // 1MB
             maxFiles : @num_images,
                             acceptedFiles : "image/*",
                             dictInvalidFileType :"Loại file này không được hỗ trợ",
                             dictFileTooBig: "File quá lớn, vượt quá 1MB",
                             dictRemoveFile:"Xóa File",
                             dictMaxFilesExceeded:"Vượt quá số lượng file tối đa: @num_images ",
             /*            url: "/file/upload",
                      maxFilesize: 100,
                      paramName: "uploadfile",
                      maxThumbnailFilesize: 5,*/
             init: function () {
                 //ADD EXISTING FILES
                @for(int i=0;i<old_image_links.Length;i++)
                 {
                    if(old_image_links[i]!="undefined" && old_image_links[i] !="")
                    {
                         @:var mockFile@(i) = { name: "@old_image_links[i]", size: 20000 };
                         @:this.options.addedfile.call(this, mockFile@(i));
                         @:this.options.thumbnail.call(this, mockFile@(i), "/Content/Upload/Images/@old_image_links[i]");
                         @:client_file_array.push("@old_image_links[i]");
                    }
                 }
                 
                 this.on('success', function (file, message) {
                     var file_name = JSON.parse(message);
                     file_list[file.name]=file_name;
                 });
                 this.on('addedfile', function (file){
                     client_file_array.push(file.name); 
                 });
             }
         });


         //bat su kien submit form binh thuong, luc user submit se lay link tu dropzone add vao array .
         $('#@form_contain_fields_id').submit(function()  {   
             var images_link = get_last_images_link(file_list,client_file_array, @num_images );
             $(this).append('<input type="hidden" name="images" value="'+images_link+'" /> ');
             return true;
         }
                );

         $(document).ready(function () {});
             </script>
}

@helper FacebookInit()
{
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '1539555012953941',
                xfbml      : true,
                version    : 'v2.2'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
       </script>
}
@helper ProductImages(string[] image_link)
{
    if (image_link.Length>0 )
    {
					<div id="images-detail">
						<div class="product-full-image">
							<span class="helper"></span>
							<img id="product-image" src="/Content/Upload/Images/@((image_link[0]!=null)?image_link[0]:"NoImage.jpg")"/>
						</div>
                        <div class="carousel-images">
						@for (int i = 0; i < image_link.Length; i++)
                        {
                            if(image_link[i]!=null)
                            {
                                
							    <img class="@image_link[i] thumbnail @(i==0?"active":"")" src="/Content/Upload/Images/@image_link[i]" />
                           }
                        }
						</div>
          
						<script type="text/javascript">
						    $(".thumbnail").click(function()
						    {
						        var class_array = $(this).attr("class").split(' ');
						        var newsrc = class_array[0]; // Pull new src from the class tag (assuming it's the last one)
						        $("#product-image").attr('src', '/Content/Upload/Images/'+newsrc);
						        $("img.active").removeClass("active");
						        $(this).addClass('active');
								
						    });
						</script>
					</div> <!-- end of image detail -->
    }
    else
    {
		<div id="images-detail">
			<div class="product-full-image">
				<span class="helper"></span>
				<img id="product-image" src="/Content/Upload/Images/NoImage.jpg")"/>
			</div>
        </div> <!-- end of image detail -->
    }
}
@helper FacebookLike(string url)
{
    <div class="social-like-share">
        <iframe src="http://www.facebook.com/plugins/like.php?href=@(Uri.EscapeUriString(url))&width=64&layout=button_count&action=like&show_faces=false&share=true&height=21"></iframe>
    </div>
}
@helper FacebookComment(string url)
{
    <div class="comments">
		<h2>Nhận xét & Thảo luận</h2>
		<div class="fb-comments" data-href="@url" data-width="780" data-numposts="5" data-colorscheme="light"></div>		
	</div>
}