    <div class="login">
      <h1>Đăng nhập người dùng</h1>
      <form method="post" action="index.html">
        <p><input type="text" name="login" value="" placeholder="Email"></p>
        <p><input type="password" name="password" value="" placeholder="Mật Khẩu"></p>
        <p class="submit"><input type="submit" name="commit" value="Đăng nhập"></p>
      </form>
    </div>
    <div class="login-help">
      <p> Quên mật khẩu ? <a href="index.html">Reset Password</a>.</p>
    </div>
