﻿<h2>Files upload to server</h2>    

<div id="dialog" title="Upload files">        
    @using (Html.BeginForm("Upload", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <br />
        <p><input type="file" id="fileUpload" name="fileUpload" /> </p><br />
        <p><input type="submit" value="Upload file" /></p>        
     }    
