﻿@if (Request.IsAuthenticated) {
    <text>
        Chào,
        <a href ="/UserProfile/Edit">@User.Identity.Name</a>
@*@Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!*@

        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a>
        }
    </text>
} else {
    <a id="register-action" href ="#">Đăng ký</a>
    <br />
    <a id="login-action" href ="#">Đăng nhập</a>
    
}
