﻿@model WebRaoVat.Models.UserProfile
@* function tao link cho viec phan trang, tham khao http://afana.me/post/paging-sorting-and-searching-ef-cf-and-mvc.aspx *@
@helper buildLinks(int start, int end, string innerContent)
{
     for (int i = start; i <= end; i++)
     {
         <a class="@(i == ViewBag.CurrentPage ? "current" : "")" href="@Url.Action("Details", "UserProfile", new {id=ViewBag.id, PageSize= ViewBag.PageSize, page = i })">@(innerContent ?? i.ToString())</a>  
     }
     
}
@* function hien thi pagelink hop ly khi co qua nhieu trang vd 1.....5.current.7....100, tham khao http://afana.me/post/paging-sorting-and-searching-ef-cf-and-mvc.aspx *@
@helper pageLinks()
{  
    const int maxPages = 11;
     
    if (ViewBag.TotalPages <= maxPages)
    {
        @buildLinks(1, (int)ViewBag.TotalPages, null)
        return;
    }
 
    int pagesAfter = ViewBag.TotalPages - ViewBag.CurrentPage; // Number of pages after current
    int pagesBefore = ViewBag.CurrentPage - 1; // Number of pages before current
 
    if (pagesAfter <= 4)
    {
        @buildLinks(1, 1, null) // Show 1st page
 
        int pageSubset = ViewBag.TotalPages - maxPages - 1 > 1 ? ViewBag.TotalPages - maxPages - 1 : 2;
        @buildLinks(pageSubset, pageSubset, "...") // Show page subset (...)
 
        @buildLinks(ViewBag.TotalPages - maxPages + 3, ViewBag.TotalPages, null) // Show last pages
 
        return; // Exit
    }
 
    if (pagesBefore <= 4)
    {
       @buildLinks(1, maxPages - 2, null) // Show 1st pages
 
 
       int pageSubset = maxPages + 2 < ViewBag.TotalPages ? maxPages + 2 : ViewBag.TotalPages - 1;
       @buildLinks(pageSubset, pageSubset, "...") // Show page subset (...)
 
       @buildLinks(ViewBag.TotalPages, ViewBag.TotalPages, null) // Show last page
 
        return; // Exit
 
    }
 
    if (pagesAfter > 4)
    {
        @buildLinks(1, 1, null) // Show 1st pages
 
        int pageSubset1 = ViewBag.CurrentPage - 7 > 1 ? ViewBag.CurrentPage - 7 : 2;
        int pageSubset2 = ViewBag.CurrentPage + 7 < ViewBag.TotalPages ? ViewBag.CurrentPage + 7 : ViewBag.TotalPages - 1;
 
        @buildLinks(pageSubset1, pageSubset1, pageSubset1 == ViewBag.CurrentPage - 4 ? null : "...") // Show 1st page subset (...)
 
        @buildLinks(ViewBag.CurrentPage - 3, ViewBag.CurrentPage + 3, null) // Show middle pages
         // Show 2nd page subset (...)
        // only show ... if page is contigous to the previous one.
        @buildLinks(pageSubset2, pageSubset2, pageSubset2 ==  ViewBag.CurrentPage + 4 ? null : "...")
        @buildLinks(ViewBag.TotalPages, ViewBag.TotalPages, null) // Show last page
         return; // Exit
 
    }    
}


@{
    ViewBag.Title = "Details";
}

<div id="main-content">
		<div id="show-post-detail">
					<div class= "post-detail-header">
						<div class="category-header">
							Thông tin doanh nghiệp
						</div>
						<div class="related-links">
							<a href="#"> << Trở về </a>
						</div>
						
					</div>
					<div id="user-banner">
						@ViewsUtilities.ImageLink(Model.BannerImage)
						<span>@Model.FullName</span>
					</div>
					<div class="social-like-share">
					    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
					</div>
					
					<div class="clear"></div>
			<div class="modules-wrapper">
				<div class="module">
					<div class="module-header">
						<p>Thông tin chi tiết</p>
					</div>
					<div class="module-detail-wrapper">
					
						<div class="owner-contact-detail">
						
							<i class="fa fa-home fa-lg"></i> <span> <strong> Địa chỉ: </strong>@Model.Address</span>
							<div class="clear"></div>
							
					@if (Model.Phone != null && Model.Phone != "")
                    {
                        <i class="fa fa-phone fa-lg"></i> <span> <strong> Tel: </strong>@Model.Phone</span>
                    }
							<div class="clear"></div>
					@if (Model.Fax != null && Model.Fax != "")
                    {
							<i class="fa fa-fax fa-lg"></i> <span> <strong> Fax: </strong>@Model.Fax </span>
							<div class="clear"></div>
                    }		
							<i class="fa fa-globe fa-lg"></i> <span> <strong> Website: </strong><a href="@Model.Website">@Model.Website</a></span>
							<div class="clear"></div>
														
					@if (Model.Email != null && Model.Email != "")
                    {
							<i class="fa fa-envelope fa-lg"></i><span> <strong> Email: </strong><a href="mailto:@Model.Email">@Model.Email</a></span>
							<div class="clear"></div>
                    }
						</div>

							<div class="review-rating">
							 <span>Review:</span>
								<div class="progress">
										<span class="percent">30%</span>
								<div class="bar" style="width:30%;"></div>
								</div>
							</div>
							
							<div class="clear"></div>
							
							<div class="review-rating">
							 <span>Rating:</span>
								<div class="progress">
										<span class="percent">60%</span>
								<div class="bar" style="width:60%;"></div>
								</div>
							</div>

						
						
					</div>
				</div>
				
				<div class="module">
					<div class="module-header">
						<p>Hỗ trợ</p>
					</div>
					<div class="support-contact">
                         <p></p>
					@if (Model.HotLine!=null && Model.HotLine!=""){	<span>Hotline: @Model.HotLine</span>}
					@if (Model.Yahoo!=null && Model.Yahoo!=""){
						<span>Chat Online:</span>
						<span class="yahoo-contact">
							<a href = "ymsgr:sendim?@Model.Yahoo">
									<img border=0 src="http://opi.yahoo.com/online?u=@(Model.Yahoo)&m=g&t=2"/>
							</a>
						</span>
					}
					@if (Model.Skype!=null && Model.Skype!=""){
						<span class="skype-contact">
							<a href="skype:@Model.Skype?chat">
								<img border=0 src="http://mystatus.skype.com/@Model.Skype"/>
							</a>
						</span>
					}
					</div>
				</div>


				<div class="module">
					<div class="module-header">
						<p>Thống kê</p>
					</div>
					<div class="support-contact">
                        <p></p>
						<span style="width: 220px">Lượng truy cập: @Model.HitCount</span>
						<br />
						<span>Tin post: @Model.Posts.Count</span>
						<p></p>
					</div>
				</div>				

			
			</div>		<!-- end of modules-wrapper-->	
        </div><!-- end show-post-detail-->	
	

    <div class="small-posts">
			
				<div class="show-posts">
						<div class= "show-posts-header">
							<div class="category-header">
								Các tin đã đăng
							</div>						
						</div>
				@foreach (var item in Model.Posts) 
                {
                  <a href="/Post/Details?id=@item.PostId">	
					<div class="post-item ">
                        <div class="post-content-wrapper @(item.PostType==1?"vip": "") ">
                            <div class="post-header" style="width: 500px">
								@item.Title
							</div>
							<div class="clear"></div>
							<img src="/Content/Upload/Images/@item.Thumbnail" class="post-image">
							<div class="post-description-wrapper">
							
								<div class="post-content">
										@item.ShortDescription
								</div>				

								<div class = "clear"></div>						

								<div class="description-i">
									<span class="description-i-caption">
										Giá:
									</span>
									<span class="description-i-value">
										@item.Price
									</span>
								</div>
								<div class="description-i">
									<span class="description-i-caption">
										Quận/Huyện:
									</span>
									<span class="description-i-value">
										@item.Zone.ZoneName
									</span>									
								</div>
								<!--date-->					
							    <span class="published-date">
								    @(item.Created==null? "1/1/2001": item.Created.Value.ToString("dd/MM/yyyy"))
							    </span>


							            
                         </div><!-- end of post-description-wrapper -->
                    </div><!-- end of post-content-wrapper -->
				</div><!--post-item-->
            </a>
      }

        </div><!--show-posts-->
        <div class="pagination">
            Trang: @pageLinks()       
        </div>
    </div><!--small-posts-->

    </div><!-- end main content-->

			<div class="adswrapper">
				<div class="ads">
					Quảng Cáo
				</div>
			</div>


			<div id="footer" style="margin-left:10px;">	
				<div class="footer_container">
					<div class="addr_footer">
						<span class="footer_head">Liên hệ</span>
							<a>Địa chỉ: Hòa Thành, Tây Ninh</a>
							<a>Số điện thoại: 0123456789</a>
					</div>
					<div class="info_footer">
						<span class="footer_head">Thông tin cho bạn</span>
							<a href="http://www.nhanh60s.vn/">Quy định đăng tin</a>
							<a href="http://www.nhanh60s.vn/">Điều khoản</a>
							<a href="http://www.nhanh60s.vn/">Chính sách</a>
							<a href="http://www.nhanh60s.vn" >Kinh nghiệm đăng tin</a>
					</div>
					<div class="about_footer">
						<span class="footer_head">Về chúng tôi</span>
							<a href="http://www.nhanh60s.vn/">Giới thiệu</a>
							<a href="http://www.nhanh60s.vn/">Mục tiêu</a>
							<a href="http://www.nhanh60s.vn/tuyendung">Tuyển dụng</a>
					</div>
					
					<div class="register_footer">
						<span class="footer_head">Chứng nhận</span>
						<a href="http://online.gov.vn/HomePage/" target="_blank">
							<img class="bct" src="/Content/bct.png">
						</a>
					</div>
					
					<div class="clear_float"></div>
				</div>
				<hr>
					<p style="color: #808080;">
						Bản quyền của <a href="http://Nhanh60s.vn" style="color: #66FFCC">Nhanh60s</a> |  WWW.NHANH60S.VN © 2015  </p>
			</div>