﻿@model IEnumerable<RaoVat.Models.NewsColumn>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ColumnID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColumnName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ColumnID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColumnName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.ColumnID  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.ColumnID  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ColumnID  })
        </td>
    </tr>
}

</table>
